{% load static from staticfiles %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'js/tag-it.js' %}" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
<link href="{% static 'css/jquery.tagit.css' %}" rel="stylesheet" type="text/css">
{% if bootstrap %}{% include "ajax_select/bootstrap.html" %}{% endif %}
<input name="{{name}}" id="{{ html_id }}" value="{{ current_ids }}"type="hidden"> <!-- only disabled for demonstration purposes -->


<ul id="ul_{{ html_id }}">
</ul>
{% if add_link %}
    <a href="{{ add_link }}" class="add-another addlink" id="add_{{ html_id }}" onclick="return showAddAnotherPopup(this);"> add</a>
{% endif %}
<script type="text/javascript">
    $('#ul_{{ html_id }}').tagit({
        tagSource: '{{lookup_url}}',
        // This will make Tag-it submit a single form value, as a comma-delimited field.
        singleField: true,
        singleFieldNode: $('#{{ html_id }}'),
        singleFieldDelimiter:"|",
        animated:false,
        onTagRemoved: function(event, tag) {
            // do something special
        },
        onTagAdded: function(event, tag) {
            // do something special
        }
    });
</script>
{% comment %}<input type="text" name="{{name}}_text" id="{{html_id}}_text" value="" {{ extra_attrs }} />
{% if add_link %}
	<a href="{{ add_link }}" class="add-another addlink" id="add_{{ html_id }}" onclick="return showAddAnotherPopup(this);"> add</a>
{% endif %}
<input type="hidden" name="{{name}}" id="{{html_id}}" value="{{current_ids}}" />
<div id="{{html_id}}_on_deck" class="results_on_deck"></div>
<script type="text/javascript">//<![CDATA[
jQuery(document).ready(function($){
    alert("my")
	addAutoComplete("{{html_id}}", function(html_id) {
		$("#"+html_id).autocompleteselectmultiple({
			minLength: {{min_length}},
			source: '{{lookup_url}}',
			initial: {{current_reprs}}
		});
	});
{% block extra_script %}{% endblock %}
});
//]]>
</script>{% endcomment %}
{# django admin adds the help text. this is for use outside of the admin #}
{% block help %}{% if help_text %}<p class="help">{{help_text}}</p>{% endif %}{% endblock %}
{{ inline }}