{% load static_asset %}
{% load static from staticfiles %}
{% load assets %}

{#PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"#}
{#"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"#}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}饭聚网，享美食，聚好友{% endblock %}</title>
    <meta content="饭聚，饭局，杭州的饭聚，fanju,杭州的饭局,美食社交，社交晚餐" name="keywords">
    <meta content="饭聚网是刚刚流行起来的基于兴趣的美食社交，通过一顿饭局让不同的人相聚在餐厅里，一起享受美食的同时，认识和你有着相同兴趣的新朋友。" name="description">
    {% block page_css %}
        {% assets "base_css" %}
            <link href="{% static_asset ASSET_URL %}" media="screen" rel="stylesheet" type="text/css">
        {% endassets %}
    {% endblock %}
</head>
<body>
<!--[if IE 6]>
<div id="ie6-warning">您的浏览器版本太低，将不能正常浏览本网站。请升级 <a href="http://windows.microsoft.com/zh-CN/internet-explorer/downloads/ie">Internet Explorer</a> 或使用 <a href="http://www.google.com/chrome/">Google Chrome</a> 浏览器。<br>如果您在使用双核浏览器，请切换到高速 / 极速 / 神速核心。</div>
<![endif]-->
{% block nav %}
    <div class="navbar navbar-static-top" id="main-nav">
        <div class="navbar-inner  ">
            <div class="container">
                <a class="brand " href="/">饭聚 @杭州</a>
                <ul class="nav ">
                    <li id="nav-meal"><a href="{% url meal_list %}" class="hidden-phone">首页</a></li>
                    <li id="nav-user"><a href="{% url user_list %}">成员</a></li>
                    <li id="nav-create-meal"><a href="{% url create_meal %}" class="hidden-phone">发起饭局</a></li>
                    <li id="nav-upload-photo"><a href="{% url upload_photo %}" class="hidden-phone upload-photo-link">上传照片</a></li>
                </ul>
                <ul class="nav pull-right">
                    {% if user.is_authenticated %}
{% comment %}                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">消息<b
                                    class="caret hidden-phone"></b></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                                <li><a  href="#">查看私信</a></li>
                                <li><a  href="#">查看留言</a></li>
                                <li><a  href="#">新增“赞”</a></li>
                                <li><a  href="#">系统通知</a></li>
                                <li class="divider"></li>
                                <li><a  href="#">查看全部消息</a></li>
                            </ul>
                        </li>{% endcomment %}

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="hidden-phone">{% if user.get_profile.name %}
                                    {{ user.get_profile.name }} {% else %}{{ user.username }}{% endif %} </span>
                                <b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                                <li><a  href="{% url user_detail user.get_profile.id %}">我的主页</a></li>
                                <li><a  href="{% url edit_basic_profile %}">修改资料</a></li>
                                <li class="divider"></li>
                                <li><a  href="{% url my_orders %}">我的饭局</a></li>
                                <li class="divider"></li>
{#                                <li><a  href="{% url edit_basic_profile %}">账号设置</a></li>#}
                                <li><a  href="{% url logout %}">退出</a></li>
                            </ul>
                        </li>


                    {% else %}
                        {% if request.path_info == "/user/login/" or request.path_info == "/user/register/" %}
                            <li><a href="
                                    {% url weibo_login %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}"
                                   id="login_link"
                                    >登录</a></li>
                        {% else %}
                            <li><a  id="login_link" class="login" href="{% url weibo_login %}?next={{ request.path_info }}">登录</a></li>
                            </li>
                        {% endif %}

                    {% endif %}
                </ul>
            </div>
        </div>
        <div id="nav-active-id" style="display:none;">{% block active-nav-id %}{% endblock %}</div>
    </div>
{% endblock %}

{% block page-container %}
    <div class="container" id="main-container">
        {% block container-inner %}
            {% block content %}{% endblock %}
            {#    use for active nav item, see example on meal_list page#}
        {% endblock %}
    </div>
    {% block footer %}
        <div id="footer"> </div>
    {% endblock %}
{% endblock %}

{% block base_js %}
    {% assets "base_js" %}
        <script type="text/javascript" src="{% static_asset ASSET_URL %}"></script>
    {% endassets %}
{% endblock %}
<script type="text/javascript">
    $(document).ready(function ($) {

        $("#main-nav ul.nav li").removeClass("active");
        var $active = $("#" + $("#nav-active-id").html());
        $active.addClass("active");
        $("#main-nav ul.nav  li").not(".active").hover(function () {
            $active.removeClass("active");
            $(this).addClass("active");
        }, function () {
            $(this).removeClass("active");
            $active.addClass("active");
        });
    })
</script>
{% block page_js %}{% endblock %}
{% include "ga.html" %}
</body>
</html>