{% load static_asset %}
{% load static from staticfiles %}
{% load assets %}
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    {% assets "base_css" %}
        <link href="{% static_asset ASSET_URL %}" media="screen" rel="stylesheet" type="text/css">
    {% endassets %}
    <link rel="stylesheet" href="{% static 'css/ui/smoothness/jquery-ui-1.8.21.custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/autoSuggest.css' %}">
    {% assets "base_js" %}
        <script type="text/javascript" src="{% static_asset ASSET_URL %}"></script>
    {% endassets %}
    <script type="text/javascript" src="{% static 'js/jquery.form.js' %}"></script>
    {% assets "jquery_ajax_bootstrap_js" %}
        <script type="text/javascript" src="{% static_asset ASSET_URL %}"></script>
    {% endassets %}


</head>
<body>

<div class="container">
    <div class="row">
        <div class="well span12">Test</div>
    </div>
    <div class="row">
        <div class="span6">
            <a href="{% url weibo_login %}">微博登录</a>
        </div>
    </div>


</div>
<script type="text/javascript">
    $(function () {
        var data = {items:[
            {value:"1", name:" 孟庆广Jagger", pinyin:"mengqingguang Jagger"},
            {value:"2", name:"孟庆广去Johnny Storm", pinyin:"mengqingguang Johnny Storm"},
            {value:"3", name:"Richard Hatch"},
            {value:"4", name:"Kelly Slater"},
            {value:"5", name:"Rudy Hamilton"},
            {value:"6", name:"Michael Jordan"}
        ]};
        $("#tags").autoSuggest(data.items, {
            selectedItemProp:"name",
            searchObjProps:"name,value,pinyin",
            selectionLimit:1,
{#            selectedValuesProp:"name",#}
            asHtmlID:'as-tags',
{#            preFill:'孟庆广去Johnny,2,3'#}
        });
    })
</script>

</body>
</html>