{% extends "base.html" %}
{% load static from staticfiles %}{% load assets %}{% load static_asset %}
{% block title %}修改个人资料{% endblock %}
{% block page_css %}
    {{ block.super }}
    {% assets "profile_css" %}
        <link href="{% static_asset ASSET_URL %}" media="screen" rel="stylesheet" type="text/css">
    {% endassets %}
{% endblock %}


{% block content %}
    <div id="edit-profile" class="row">
        {% include 'user/avatar_frag.html' %}


        <form id="basic-profile-form" action="{% url 'edit_basic_profile' %}" method="post" class="form-horizontal span9">
            <fieldset>
                {#                    <legend>基本资料</legend>#}

    {% include "user/mandatory_profile_elements.html" with form=form %}


                <div class="control-group ">

                    <label class="control-label" for="id_motto">签名：</label>

                    <div class="controls">
                        <textarea id="id_motto" class="input-xlarge" type="text" name="motto" rows="2"
                                >{{ form.motto.value|default:'' }}</textarea>
                    </div>
                </div>

                <div class="control-group birthday ">

                    <label class="control-label" for="id_birthday_year"> 生日：</label>

                    <div class="controls">

                        {{ form.birthday }}
                        {{ form.birthday.errors }}

                    </div>
                </div>

                <div class="control-group ">

                    <label class="control-label" for="id_college"> 学校：</label>

                    <div class="controls">

                        {{ form.college }}
                        {{ form.college.errors }}

                    </div>
                </div>

                <div class="control-group ">

                    <label class="control-label" for="id_industry"> 行业：</label>

                    <div class="controls">

                        {{ form.industry }}
                        {{ form.industry.errors }}

                    </div>
                </div>

                <div class="control-group ">

                    <label class="control-label" for="id_work_for"> 公司：</label>

                    <div class="controls">

                        {{ form.work_for }}
                        {{ form.work_for.errors }}

                    </div>
                </div>

                <div class="control-group ">

                    <label class="control-label" for="id_occupation"> 职位：</label>

                    <div class="controls">

                        {{ form.occupation }}
                        {{ form.occupation.errors }}

                    </div>
                </div>


                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-primary btn-large">保存</button>
                    </div>
                </div>

            </fieldset>
        </form>

    </div>

    <div id="data" style="display: none" {% if status %}data-noty-msg="资料修改成功"{% endif %} list-tags-url='{% url 'tag_list' %}'></div>

{% endblock %}

{% block page_js %}
    {% assets "auto_suggest_js" %}
        <script type="text/javascript" src="{% static_asset ASSET_URL %}"></script>
    {% endassets %}
    {% assets "jquery_form_js" %}
        <script type="text/javascript" src="{% static_asset ASSET_URL %}"></script>
    {% endassets %}
    {% assets "validate_js" %}
        <script type="text/javascript" src="{% static_asset ASSET_URL %}"></script>
    {% endassets %}
    {{ block.super }}
{% endblock %}
