{% extends "base.html" %}
{% load static from staticfiles %}{% load assets %}{% load static_asset %}
{% block title %}修改个人资料{% endblock %}
{% block page_css %}
    {% assets "edit_profile_css" %}
        <link href="{% static_asset ASSET_URL %}" media="screen" rel="stylesheet" type="text/css">
    {% endassets %}
{% endblock %}


{% block content %}
    {% with profile=user.get_profile %}

        <div class="left-column">
        <div class="avatar">
            <h1>{{ user.username }}</h1>
            <img alt="{{ user.username }}" class="shadow" src="{{ profile.big_avatar }}" width="200" height="200">
            <br/>
            <a href="{% url upload_avatar %}">修改头像</a>
        </div>

        </div>
        <div class="right-column">
            <h2>重要信息</h2>
            个人签名
        </div>



    {% endwith %}
{% endblock %}

