{% extends "base.html" %}
{% load static from staticfiles %}{% load assets %}
{% block title %}修改个人资料{% endblock %}
{% block page_css %}
    {{ block.super }}
    {% assets "edit_profile_css" %}
        <link href="{% static ASSET_URL %}" media="screen" rel="stylesheet" type="text/css">
    {% endassets %}

{% endblock %}


{% block content %}
    <div id="edit-profile" class="row">
        {% include "user/profile_nav.html" %}

        <form id="basic-profile-form" action="{% url edit_basic_profile %}" method="post" class="form-horizontal span7">
            <fieldset>
                {#                    <legend>基本资料</legend>#}
                <div class="control-group nickname">

                    <label class="control-label" for="id_motto">* 昵称：</label>

                    <div class="controls">
                        <input id="id_nickname" class="input-small" type="text"
                               name="name" value="{{ form.name.value|default:"" }}"/>
                        {{ form.name.errors }}
                    </div>
                </div>

                <div class="control-group gender">

                    <label class="control-label"> * 性别：</label>

                    <div class="controls">
                        <label class="radio inline" for="id_gender_1"><input
                                {% if form.gender.value == '0' or  form.gender.value == 0 %}checked="checked"{% endif %}
                                type="radio"
                                id="id_gender_1"
                                value="0" name="gender"> 男</label>
                        <label class="radio inline" for="id_gender_2"><input
                                {% if form.gender.value == '1' or form.gender.value == 1 %}checked="checked"{% endif %}
                                type="radio"
                                id="id_gender_2"
                                value="1" name="gender"> 女</label>
                        {{ form.gender.errors }}
                    </div>
                </div>
                <div class="control-group birthday ">

                    <label class="control-label"> * 生日：</label>

                    <div class="controls">

                        {{ form.birthday }}
                        {{ form.birthday.errors }}

                    </div>
                </div>
                <div class="control-group ">

                    <label class="control-label" for="id_motto">签名：</label>

                    <div class="controls">
                        <input id="id_motto" class="input-xlarge" type="text" name="motto"
                               value="{{ form.motto.value|default:'' }}"/>
                    </div>
                </div>

                <div class="control-group interest-tags">

                    <label class="control-label" for="id_motto">兴趣爱好：</label>

                    <div class="controls">
                        {{ form.tags }}
                        {{ form.tags.similar_objects }}
                    </div>
                </div>


                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn">保存</button>
                    </div>
                </div>

            </fieldset>
        </form>
        <div class="avatar span3 hidden-phone">
            <img alt="{{ user.username }}" class="img-polaroid" src="{{ user.get_profile.big_avatar }}" width="220"
                 height="220">
            <a class="edit-avatar" href="{% url upload_avatar %}">修改头像</a>
        </div>
    </div>

    <div id="data" style="display: none" list-tags-url='{% url tag_list %}'></div>

{% endblock %}

{% block page_js %}
    {{ block.super }}
    {% assets "auto_suggest_js" %}
        <script type="text/javascript" src="{% static ASSET_URL %}"></script>
    {% endassets %}
    {% assets "module_js" %}
        <script type="text/javascript" src="{% static ASSET_URL %}"></script>
    {% endassets %}

{% endblock %}
