{% extends "base.html" %}
{% load static from staticfiles %}{% load assets %}{% load static_asset %}
{% block page_css %}
    {{ block.super }}
    {% assets "user_list_css" %}
        <link href="{% static_asset ASSET_URL %}" media="screen" rel="stylesheet" type="text/css">
    {% endassets %}
{% endblock %}

{% block content %}
    {% include "user/user_container.html" %}
    <a id="ajax-load-image-id" style="display: none" href="{% static 'img/ajax-loader.gif' %}"></a>
    <div id='data' user-tags='' style="display: none"></div>
{% endblock %}

{% block page_js %}
    {% assets "water_fall_js" %}
        <script type="text/javascript" src="{% static_asset ASSET_URL %}"></script>
    {% endassets %}
    {% assets "user_list_js" %}
        <script type="text/javascript" src="{% static_asset ASSET_URL %}"></script>
    {% endassets %}
    <script type="text/javascript">
        var tags =    [{% for tag in request.user.get_profile.tags.all %}{% if forloop.last %}'{{ tag.name }}'{% else %}'{{ tag.name }}',{% endif %}   {% endfor %}];
    </script>

{% endblock %}

{% block active-nav-id %}nav-user{% endblock %}