<div id="user-container" class="transitions-enabled infinite-scroll clearfix">
    {% for user in user_list %}
        <div class="box ">
            <div class="user-img">
                <a href="{% url user_detail user.id %}" title="{{ user.name|default:'' }}"><img class="shadow-small"
                                                                                                src="{{ user.big_avatar_no_crop }}"
                                                                                                alt="{{ user.name|default:'' }}"
                                                                                                width="220"
                                                                                                height="220"></a>
            </div>


{#            TODO to remove none check#}
            {% if user.motto or user.tags.all %}
                <div class="speech-outer">
{#                    <div class="speech-arrow"></div>#}
                    <div class="speech-inner">
                        <p> {% if user.motto %}" {{ user.motto }} "{% else %}{% comment %}IT/诺基亚西门子/设计师 {% endcomment %}{% endif %}</p>
                        <ul class="tags">
                            {% for tag in user.tags.all %}
                                <li>{{ tag.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endfor %}
</div>
<div id="page-nav">
    <a href="{% url more_user 2 %}"></a>
    {#        <a href="{% url more_user  page_obj.number %}"></a>#}
</div>
