{% extends "base.html" %}
{% load static from staticfiles %}{% load assets %}{% load static_asset %}
{% block page_css %}
    {{ block.super }}
    {% assets "user_list_css" %}
        <link href="{% static_asset ASSET_URL %}" media="screen" rel="stylesheet" type="text/css">
    {% endassets %}
{% endblock %}

{% block content %}

    {% if need_edit_tags %}
        <div class="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            请完善你的兴趣爱好，这样便可以找到那些和你有着共同喜好的朋友了！赶快去 <a href="{% url edit_basic_profile %}">完善兴趣爱好</a>吧！
        </div>
    {% endif %}
    {% if need_upload_avatar %}
        <div class="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            你还没有上传头像，其他朋友无法在这里看到你哦！赶快去 <a href="{% url edit_basic_profile %}">上传头像</a> 吧！
        </div>
    {% endif %}

    {% if show_common_tags_link %}
        <div class="show-users-actions clearfix">
            <a href="{% url user_list %}?show=common" class="fr">寻找志同道合的朋友</a>
        </div>
    {% endif %}

    {% include "user/user_container.html" %}
    <div id="data" data-ajax-load-image-id="{% static 'img/ajax-loader.gif' %}" data-add-tag-url="{% url add_tag %}" style="display: none"></div>
{% endblock %}

{% block page_js %}
    <script type="text/javascript">
        var myTags = [{% for tag in request.user.get_profile.tags.all %}{% if forloop.last %}'{{ tag.name }}'{% else %}'{{ tag.name }}', {% endif %}   {% endfor %}];
    </script>
    {% assets "water_fall_js" %}
        <script type="text/javascript" src="{% static_asset ASSET_URL %}"></script>
    {% endassets %}
    <script type="text/javascript" src="{% static 'js/jquery.lazyload.min.js' %}"></script>
    {% assets "module_js" %}
        <script type="text/javascript" src="{% static_asset ASSET_URL %}"></script>
    {% endassets %}

{% endblock %}

{% block active-nav-id %}nav-user{% endblock %}