{% load static from staticfiles %}
<div id="faq" class="faq sidebar-box">
    <div class="sidebar-box-title">常见问题</div>
    <div class="sidebar-box-content">

        <a class="faq-q" id="faq-what-is-fanju">饭聚网是什么？</a>

        <p class="faq-a">饭聚网一个基于兴趣的线下社交平台，你可以找人一起练英语，一起打球，一起看书，一起桌游，一起跑步，一起爬山。一起去福利院...
           <br/>请关注我们的微信公众账号「饭聚」，因为我们会经常组织抽奖活动哦！<br/><img src="{% static 'img/weixin.jpg' %}" alt="weixin" width='100' height="100"/>
        </p>
</p>

{#         <a  class="faq-q"  id="faq-why-pay">为什么要预先付费？</a>#}
{#        <p class="faq-a">饭聚网是一个很严肃的社交平台，其他朋友无故爽约是对你的不尊重。预先付费是为了让爽约变得更难，保障大家的参加率。</p>#}

        <a  class="faq-q"  id="faq-ask">我遇到了问题怎么办？</a>

        <p class="faq-a">让我们为你服务。如果你遇到任何问题，你都可以联系我们。<br/>我们的微信公众账号是「饭聚」。
           <br/><img src="{% static 'img/weixin.jpg' %}" alt="weixin" width='100' height="100"/>
        </p>

        <a class="faq-q">如果人数没满怎么办？</a>
        <p class="faq-a">如果人数人数多于4人，可以正常开始，否则可以取消。</p>

       {% comment %} <a  class="faq-q" >我可以取消一个预订吗？</a>
        {% endcomment %}{% comment %}<p class="faq-a">如果你已经为一个饭局付费了，但又因为其他计划而不能参加了，那么你可以在饭局开始前的72个小时内取消，可以通过我们的微信公众账号「饭聚」联系我们。</p>{% endcomment %}{% comment %}
        <p class="faq-a">如果你已经预订，却因为某些原因不能参加活动了，请</p>{% endcomment %}

       {% comment %} <a  class="faq-q" >我可以换菜吗？</a>
        <p class="faq-a">当然可以，如果你对下面的菜单不是很满意，但是又不想错过这次聚会，那你可以在餐厅和服务员商量，换取等值的菜品或饮料。如果你还想点其它的菜品或饮料，你也可以额外付费。不过如果你想换的是大家一起享用的菜，你一定要征得大家的同意哦！</p>
{% endcomment %}

        {% comment %}<a id="faq-how-to-book-meal">如何参加一个饭局？</a>

        <p>当你发现一个感兴趣的饭局的时候，你可以使用支付宝付款，然后准时参加饭局，便可以一边享受美食，一边认识新朋友了。如果你需要额外的菜或饮品，你只需要再额外付费就可以了。 </p>{% endcomment %}

    {% comment %}    <a >饭聚网为什么能够流行起来？</a>

        <p>随着人人网、开心网、微博的流行，人们在网络上的生活越来越丰富，线上的好友越来越来越多，可这些并没有让他们在现实中的朋友增加多少，而且人们也更信赖现实中的朋友，真实的碰面才是他们心中最深的渴望。<br>饭聚网可以让大家通过一顿饭局认识些新朋友，你并不用担心你们之间会没有共同话题，因为参加同一个饭局的朋友都是和你有着相同兴趣的人。所谓是物以类聚，人以群分，志同道合的人才会更容易成为朋友。 </p>
{% endcomment %}





    </div>
</div>
