<div id="faq" class="faq sidebar-box">
    <div class="sidebar-box-title">常见问题</div>
    <div class="sidebar-box-inner">
        <a>饭聚网是什么？</a>

        <p>饭聚网是刚刚流行起来的基于兴趣的美食社交网站，通过一顿饭局让不同的人相聚在餐厅里，一起享受美食的同时，认识和你有着相同兴趣的新朋友。</p>

        <a>如何参加一个饭局？</a>

        <p>当你发现一个感兴趣的饭局的时候，你可以使用支付宝付款，然后准时参加饭局，便可以一边享受美食，一边认识新朋友了。如果你需要额外的菜或饮品，你只需要再额外付费就可以了。 </p>

        <a>饭聚网为什么能够流行起来？</a>

        <p>随着人人网、开心网、微博的流行，人们在网络上的生活越来越丰富，线上的好友越来越来越多，可这些并没有让他们在现实中的朋友增加多少，而且人们也更信赖现实中的朋友，真实的碰面才是他们心中最深的渴望。<br>饭聚网可以让大家通过一顿饭局认识些新朋友，你并不用担心你们之间会没有共同话题，因为参加同一个饭局的朋友都是和你有着相同兴趣的人。所谓是物以类聚，人以群分，志同道合的人才会更容易成为朋友。 </p>

        <a>如何取消一个饭局？</a>
        <p>如果你已经为一个饭局付费了，但又因为其他计划而不能参加了，那么你可以在饭局开始前的72个小时内取消，可以通过拨打热线0000000000联系我们，我们会帮您取消饭局。</p>

    </div>
</div>
