BeautifulSoup==3.2.1
Django==1.5.1
Pillow==2.0.0
South==0.7.6
argparse==1.2.1
cssmin==0.1.4
django-admin-tools==0.5.1
django-ajax-selects==1.2.5
django-assets==0.8
django-debug-toolbar==0.9.4
django-devserver==0.6.2
django-forms-bootstrap==2.0.3.post1
django-image-cropping==0.6.4
django-taggit==0.9.3
django-tastypie==0.9.15
easy-thumbnails==1.2
erlport==0.6
gunicorn==0.17.4
mimeparse==0.1.3
mysql-connector-python==1.0.9
pyOpenSSL==0.13
pyapns==0.4.0
python-dateutil==2.1
raven==3.1.13
simplejson==3.1.2
sinaweibopy==1.1.2
#virtualenv==1.9.1
wadofstuff-django-serializers==1.1.0
webassets==0.8
xmpppy==0.5.0rc1
yuicompressor==2.4.7
MySQL-python==1.2.4
supervisor==3.0b2
django-qsstats-magic>=0.6.1
django-chart-tools>=0.2.1
django-admin-user-stats==0.2
django-celery-with-redis==3.0
flower==0.5.2
django-redis-cache==0.10.0
hiredis==0.1.1
django-clear-cache==0.3
django_pickling==0.1
django-cacheops==1.0.0
