// Core variables and mixins
@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";

.users-actions{
  ul.tags{
    width:60px;
    float: left;
    .showing-tag{
      cursor: default;
    }
  }
  .show-common-link{
    float: right;
    line-height: 38px;
  }
  .add-tag-link{
    line-height: 38px;
  }
  
}

#user-container {
  padding: 10px 0 0;
  margin-bottom: 20px;
  border-radius: 5px;
  clear: both;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  margin-left: -11px;
}

.show-users-actions {
  margin-bottom: 10px;
  margin-top: 10px;
}

/*water-fall*/
.shadow-small {
  -webkit-box-shadow: 0 0px 4px #444;
  -moz-box-shadow: 0 0px 4px #444;
  box-shadow: 0 0 1px #444444;
}

.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -ms-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
}

.masonry {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
  -moz-transition-property: left, right, top;
  -ms-transition-property: left, right, top;
  -o-transition-property: left, right, top;
  transition-property: left, right, top;
}

/*#page_nav {clear: both; text-align: center; }*/

#infscr-loading {
  text-align: center;
  z-index: 100;
  position: fixed;
  left: 45%;
  bottom: 40px;
  width: 200px;
  padding: 10px;
  background: black;
  opacity: 0.8;
  color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.speech-outer {
  float: left;
  position: relative;
  margin-left: 7px;
  width: 300px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.speech-arrow {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  position: absolute;
  top: -5px;
}

.speech-inner {
  padding: 5px 5px 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  position: relative;
  text-align: left;
  font-size: 120%;
  overflow: hidden;
}

.box {
  width: 176px;
  margin: 10px 0 5px 12px;
  font-size: 11px; //    line-height: 120%;
  float: left;
  border: 1px solid #ddd;
}

.box .user-img img {
  width: 176px;
  height: 176px;
}

.box .speech-outer {
  margin-left: 0;
  width: 175px;
}

.speech-inner .work {
  color: #666;
  margin-bottom: 5px;
}

.speech-inner p {
  padding: 0;
  color: #555;
  line-height: 140%;
  margin: 6px 0;
}

.speech-inner .common-interst {
  background: #F1F5AB;
  padding-top: 3px;
  margin-top: 0px;
  line-height: 132%;
  margin: 5px 0 5px 0;
}

.post-meal-comment {
  border-bottom: 1px solid #BBB;
  padding-bottom: 5px;
  font-size: 80%;
  margin-bottom: 6px;
  line-height: 120%;
  color: #333;
}

.post-meal-comment img {
  border: none;
  float: left;
  margin-right: 5px;
}

.post-meal-comment-content {
  float: left;
  width: 80%;
  overflow: hidden;
  font-size: 1.1em;
}

.post-meal-comment-time {
  color: #888;
  font-size: 11px;
  padding-left: 3px;
  display: none;
}

ul.tags {
  font-size: 14px;
  line-height: 20px;
  vertical-align: middle;
  list-style-type: none;
  margin: 6px 0;
  overflow: auto;
  font-size: 14px;
  line-height: 20px;
  vertical-align: middle;
}

ul.tags li {
  color: #777;
  float: left;
  margin: 0 6px 4px 0;
  border: 1px solid #DDDDDD;
  padding: 2px 9px;
  .border-radius(12px);
  &:hover {
  cursor: pointer;
  }
}

.tags li.common {
  background: none repeat scroll 0 0 #588A00;
  color: #ffffff;
  border-color: #588A00;
}

.user-img a {
  display: block;
}

