/*#page-container {*/
    /*width: 568px;*/
/*}*/


.content {
    width: 63%;
}

label {
    display: block;
    font-size: 1.2em;
    margin-bottom: 10px;
}

input {
    margin-bottom: 15px;
}

.social-login {
}

.social-login ul {
    margin-top: 10px;
    margin-left: -7px;
}

.social-login li {
    float: left;
    margin-left: 5px;
}

.remember-wrapper {
    margin-top: 10px;
}


#login_form .btn.btn-signup {
    display: block;
    margin: 10px 10px 4px 0;
    font-size: 120%;
    padding:   10px 15px;
    width: 205px;
    zoom:1;
}

.register-wrapper, .login-wrapper{
    margin-top: 30px;
}

.login-panel,.register-panel {
    width: 190px;
    padding-right: 36px;
}

.login-form input {
    vertical-align: -2px;
}

.content {
    width: 77%;
    margin: 0 auto;
}

.hover-link {
    color: #20538C;
    cursor: pointer;
}

.hover-link:hover {
    text-decoration: underline;
}

.forget-password, {
    float: left
}

input[type="text"], input[type="password"], input[type="email"], input[type="user[email]"], .referral-link, .find-by-name {
    width:100%;
}