{% extends "base.html" %}
{% load static from staticfiles %}{% load assets %}{% load static_asset %}
{% block title %}完善个人信息{% endblock %}
{% block page_css %}
    {{ block.super }}
    {% assets "profile_css" %}
        <link href="{% static_asset ASSET_URL %}" media="screen" rel="stylesheet" type="text/css">
    {% endassets %}

{% endblock %}


{% block content %}
    <div id="bind-edit-profile" class="row">

    <div class="welcom-info span12">
        <h1>第一次来到饭聚网，完善资料，让更多的人了解你吧！</h1>
        <hr/>
    </div>
        {% include 'profile/avatar_frag.html' %}
        <form id="basic-profile-form" action="" method="post" class="form-horizontal span9 ">
            <fieldset>
                {% include "profile/mandatory_profile_elements.html" with form=form %}


                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-large btn-primary">保存</button>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>

    <div id="data" style="display: none" list-tags-url='{% url 'tag_list' %}'></div>

{% endblock %}

{% block page_js %}
    {% assets "auto_suggest_js" %}
        <script type="text/javascript" src="{% static_asset ASSET_URL %}"></script>
    {% endassets %}
    {% assets "jquery_form_js" %}
        <script type="text/javascript" src="{% static_asset ASSET_URL %}"></script>
    {% endassets %}
    {% assets "validate_js" %}
        <script type="text/javascript" src="{% static_asset ASSET_URL %}"></script>
    {% endassets %}
    {{ block.super }}
{% endblock %}
