{% extends "profile/base.html" %}

{% block title %}{% if is_mine %}我的饭局{% else %}TA的饭局{% endif %}{% endblock %}

{% block profile-main %}
    <div id="profile-meal-page" class="">
        {% comment %}{% if paying_orders %}
            <h3 class="span12 ">{{ pay_overtime }}分钟内未支付的饭局</h3>
            {% for order in paying_orders %}
                {% include 'profile/profile_meal_frag.html' %}
            {% endfor %}
        {% endif %}{% endcomment %}

        {% if upcomming_orders %}
            {% if paying_orders %}
                <hr class="span12">
            {% endif %}
            <h3 class="span12 ">最近的活动</h3>
            {% for order in upcomming_orders %}
                {% include 'profile/profile_meal_frag.html' %}
            {% endfor %}
        {% endif %}
        {% if passed_orders %}
            {% if upcomming_orders %}
                <hr class="span12">
            {% endif %}
            <h3 class="span12 ">已结束的活动</h3>
            {% for order in passed_orders %}
                {% include 'profile/profile_meal_frag.html' %}
            {% endfor %}
        {% endif %}
        {% if not paying_orders and not upcomming_orders and not passed_orders %}
            <div class="no-results span12">
                {% if is_mine %}
                    您还没有参加任何活动！<a href="{% url 'meal_list' %}">现在就去看看吧</a>
                {% else %}
                    TA还没有参加任何活动！
                {% endif %}
            </div>
        {% endif %}

        <div id="data" class='hide' data-active-nav-id="profile_meal"></div>
    </div>
{% endblock %}