{#used in my meals page#}
{% load static from staticfiles %}

{% with order.meal as meal %}

    <div class="meal-cell span4 fl">
        <h4 class="meal-topic"><a href="{{ meal.get_absolute_url }}" target="_blank">{{ meal.topic }}</a></h4>
       {% comment %} {% if is_mine %}
            {% endcomment %}{% comment %}{% if order.code %}
                <a href="{% url 'order_detail' meal.id order.id %}" target="_blank" class="order-detail-link">订单详情</a>
            {% else %}
                <a href="{% url 'pay_order' order.id %}" target="_blank" class="go-to-pay-link">去支付</a>
            {% endif %}{% endcomment %}{% comment %}
        {% endif %}{% endcomment %}

        <div class="meal-img-wrapper ">
            <a href="{{ meal.get_absolute_url }}" target="_blank">
                <img width="270" height="180" src="{{ meal.normal_cover_url }}"
                     class="img-polaroid">
            </a>

            <div class="date-time-wrapper">
                <div class="date">
                    <span class="month">{{ meal.start_date|date:"n" }}月</span>
                    <span class="day-num">{{ meal.start_date|date:"d" }}</span>
                    <span class="day-text">{{ meal.start_date|date:"D" }}</span>
                </div>
                <div class="time">{{ meal.start_time|date:"G:i " }}</div>
            </div>
        </div>
    </div>

{% endwith %}