{% load static from staticfiles %}
<div id="user-container" class="transitions-enabled infinite-scroll clearfix">
{#    {% for user in user_list %}#}
{#    {% for user in user_list %}#}
    {% for user in user_list %}
        <div class="box ">
            <div class="user-img">
                <a href="{% url 'user_detail' user.id %}" title="{{ user.name|default:'' }}" target="_blank">
                    <img src="{{ user.big_avatar }}" alt="{{ user.name|default:'' }}" width="176px" height="176px">
                </a>
            </div>

            {#            TODO to remove none check#}
            {% if user.motto or user.tags.all %}
                <div class="speech-outer">
                    {#                    <div class="speech-arrow"></div>#}
                    <div class="speech-inner">
                        <p> {% if user.motto %}" {{ user.motto }} "{% else %}
                            {% comment %}IT/诺基亚西门子/设计师 {% endcomment %}{% endif %}</p>
                        <ul class="tags">

                            {% for tag in user.tags.all %}
                                <li>{{ tag.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endfor %}
{#{% endfor %}#}
{#{% endfor %}#}
</div>
{% if need_edit_tags_again %}
    <div class="alert hide" id="need_edit_tags_again_tip">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        这么少？再去完善下你的兴趣爱好，这样就能找到更多和你有共同喜好的朋友哦~ 赶快去 <a href="{% url 'edit_basic_profile' %}">完善兴趣爱好</a>！
    </div>
{% endif %}
<div id="page-nav">
{% if next_page_url %}
    <a href="{{ next_page_url }}"></a>
{% endif %}
</div>

