@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";
.navbar {
  margin-bottom: 15px;
  font-size: 16px;
}

.navbar ul.nav > li > a {
  font-size: 18px;
}

/*form*/
.errorlist {
  color: red;
  margin: 15px 0 0 0;
  list-style: none;
}

.error {
  margin: auto auto;
  width: 800px;
  padding: 40px;
}

.error h3 {
  text-align: center;
  font-weight: normal;
  font-size: 16px;
}

ul.dropdown-menu {
  min-width: 120px;
}

.controls label {
  padding-top: 5px;
}

option {
  text-align: left;
  padding-left: 10px;
}

ul.as-selections{
  display: inline-block;
//  height: @baseLineHeight;
  padding: 4px 6px;
  margin-bottom: @baseLineHeight / 2;
  font-size: @baseFontSize;
  line-height: @baseLineHeight;
  color: @gray;
  .border-radius(@inputBorderRadius);
  vertical-align: middle;
  background-color: @inputBackground;
  border: 1px solid @inputBorder;
  .box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
  .transition(~"border linear .2s, box-shadow linear .2s");

// Focus state
  &:focus {
    border-color: rgba(82,168,236,.8);
    outline: 0;
    outline: thin dotted \9; /* IE6-9 */
    .box-shadow(~"inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6)");
  }
}

