@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";
.navbar {
  margin-bottom: 15px;
  font-size: 16px;
}

.navbar ul.nav > li > a {
  font-size: 18px;
}

/*form*/
.errorlist {
  color: red;
  margin: 15px 0 0 0;
  list-style: none;
}

.error {
  margin: auto auto;
  width: 800px;
  padding: 40px;
}

.error h3 {
  text-align: center;
  font-weight: normal;
  font-size: 16px;
}

ul.dropdown-menu {
  min-width: 120px;
}

.controls label {
  padding-top: 5px;
}

option {
  text-align: left;
  padding-left: 10px;
}

