// Core variables and mixins
@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";

#meal-list a:hover {
  text-decoration: none;
}

.meal-cell {
  position: relative;
  border-bottom: 1px solid #ccc;
  margin-bottom: 25px;
  padding-bottom: 15px;
}

.meal-topic {
  overflow: hidden;
  padding-left: 15px;
  background-image: url(../img/logo.png);
  background-repeat: repeat-y;
  background-position: -10px 0px;
  font-size: 2em;
  a {
    color: #444;
  }
}

.meal-img-wrapper {
  position: relative;
  img {
    height: 240px;
  }
}

.date-wrapper {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 70px;
  text-align: center;
  background: white;
  .border-radius(3px);
  .box-shadow(0 0 10px #000);

  span {
    display: block;
    padding: 3px;
    text-align: center;
    color: #666;
    font-size: 13px;
  }
  .month {
    background: #EEE;
    border-bottom: 1px solid #CCC;
    text-transform: uppercase;
    color: #777;
    padding-top: 5px;
    .border-top-radius(3px);
  }

  .day-num {
    font-size: 230%;
    margin-top: 3px;
    font-weight: bold;
  }

  .day-text {
    margin-top: -3px;
  }

}

.time {
  position: absolute;
  top: 105px;
  left: 16px;
  width: 70px;
  text-align: center;
  color: white;
  background: black;
  padding: 3px 0 3px 0;
  .opacity(80);
  .border-radius(3px);
  .box-shadow(0 0 10px #000);
}

.meal-info {
  .introduction {
    line-height: 30px;
    font-size: 16px;
    color: #444;
    min-height: 183px;
  }
}

.btn-book, .btn-create-meal {
  font-size: 30px;
  line-height: 45px;
  width: 80%;
  margin: 0 auto;
  .border-radius(0);
}
.btn-create-meal{
  line-height: 50px;
}

#meal-detail {
  .btn-book {
    line-height: 50px;
  }
  .btn-sold-out{
      .buttonBackground(#FF4545, #FF4545);
  }
  .btn-booked {
    width: 82%;
  }
  #id_num_persons {
    width: 73px;
  }

  .dk_toggle {
    padding: 7px 45px 7px 10px;
  }

  #order_info_form {
    margin: 85px 0 0 53px;
    width: 217px;

    .control-group {
      margin-bottom: 10px;

      .control-label {
        text-align: left;
        width: 100px;
      }
      .controls {
        margin-left: 100px;
      }

    }
    .control-group.num_persons {
    }
  }

}

#meal-container {
  margin-bottom: 15px;
  padding-bottom: 15px;
}

#users {
  margin-right: -10px;
}

.box-seperator {
  border-bottom: 1px solid #bbb;
}

#meal-grub {
  float: left;
  width: 270px;
}

#meal-img-wrapper {
  border: 1px solid #DDD;
  float: left;
  position: relative;
}

#meal-img-wrapper img {
  border: 4px solid white;
  min-height: 100px;
}

.sidebar {
  float: right;
  width: 250px;
  padding: 0 0 9px 9px;
  border-left: 1px solid #BBB;
}

.faq b {
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 115%;
  color: #20538C;
  text-transform: uppercase;
}

.faq p {
  margin-top: 4px;
  margin-bottom: 10px;
  color: #444;
  padding-left: 5px;
  line-height: 130%;
}

#title {
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 10px;
  zoom: 1;
  h1 {
    margin-bottom: 10px;
    text-align: left;
    padding-left: 15px;
    background-image: url("../img/logo.png");
    background-repeat: repeat-y;
    background-position: -10px 0;
    font-size: 2em;
  }
  span {
    margin-top: 5px;
  }
  #restaurant-location {
    color: #777777;
    display: block;
    float: left;
  }
}

#desc {
  line-height: 30px;
  font-size: 16px;
}

.user-wrapper {
}

.host-name {
  float: left;
  padding-right: 37px;
}

#creator:hover {
  border: 1px solid #bbb;
  -webkit-box-shadow: inset 0 0 6px #bbb;
}

#creator img {
  position: absolute;
  margin-left: 5px;
  top: 5px;
  right: 5px;
}

.what-is-fanju {
  display: block;
  float: left;
  text-align: left;
  padding: 11px;
  background: #F7FF69;
  margin-bottom: 12px;
  font-size: 120%;
  line-height: 140%;
}

.date {
  font-weight: bold;
}

.price {
  font-size: 146%;
  font-weight: bold;
}

.show-menu {
  font-size: 146%;
  font-weight: bold;
  color: #20538C;
}

#users {
  width: 100%;
}

#users h1 {
  margin-bottom: 8px;
  font-size: 1.6em;
  font-weight: bold;
}

h3.name {
  font-size: 165%;
  display: block;
}

.work {
  height: 13px;
  color: #444;
  display: block;
  margin-bottom: 10px;
  margin-left: 10px;
}

img.user-pic {
}

.speech-outter {
  margin: 10px 9px 12px 0;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 193px;
  border: 1px solid #CCC;
  float: right;
}

.speech-arrow {
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  background: #E5E5E5;
  left: -5px;
  top: 6px;
}

.speech-inner {
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  text-align: left;
  font-size: 120%;
  line-height: 130%;
  overflow: hidden;
  background: #E5E5E5;
  margin-top: -2px;
}

#menu-popup.ui-widget-content {
  background-color: white;
}

#menu-popup .ribbon-menu {
  position: relative;
  width: 400px;
  height: 41px;
  margin-top: 10px;
  background: #8DC641;
  margin-left: 4px;
  -webkit-box-shadow: inset 41px 0 19px -38px rgba(0, 0, 0, 0.6);
}

#menu-popup .ribbon-right {
  width: 15px;
  height: 100%;
  position: absolute;
  top: 0;
  right: -15px;
  background: url("https://d1gwxpes5z0r7f.cloudfront.net/assets/twopointoh/ribbons/green_ribbon_right-8bcf780b22c077dbe61e227fecf905d1.gif") no-repeat;
}

#menu-popup .ribbon-title {
  position: relative;
  top: 10px;
  text-transform: none;
  font-size: 20px;
  padding: 0 30px 0 30px;
  color: white;
  font-family: georgia, serif;
  font-style: italic;
}

#menu-popup .content {
  padding: 5px 30px 0 30px;
  font-size: 15px;
  color: #666;
/*width: 500px;*/
}

#menu-popup .content h3 {
  color: #222;
  font-size: 16px;
  padding: 10px 0 5px 0;
  font-style: normal;
  clear: right;
}

#menu-popup .content  p {
  margin-top: 0;
  font-size: 14px;
  padding-left: 5px;
  clear: right;
}

.dish-pic {
  float: left;
  clear: left;
  width: 55px;
}

.dish-content {
  width: 400px;
  float: left;
}

dt.category {
  width: 240px;
  padding: 10px 0;
  font-size: 15px;
  font-weight: bold;
  line-height: 18px;
}

dd.dish {
  width: 230px;
  padding: 0 0 5px 7px;
  font-size: 14px;
  line-height: 18px;
}

.dish-info {
  float: right;
}

.dish-info .num {
  margin-right: 5px;
}

#menu .sidebar-box-title {
  background-color: #57D62D;
  color: white;

}

/*order details page*/
#order_detail {
  text-align: center;
  margin: 0 auto 20px auto;

  h2 {
    font-size: 1.8em;
    margin-bottom: 5px;
  }

  #code {
    font-size: 1.9em;
  }

  .auth-code, .reminder, .hotline {
    border-bottom: 1px solid #aaa;
    padding-bottom: 14px;
    margin-top: 22px;
  }

  .meal-title {
    margin-bottom: 40px;
    h2 a {
      color: #000000;
    }
  }

  #map {
    width: 540px;
    height: 384px;
    border: 1px solid #333;
  }

  .rest-name {
    display: block;
    margin-bottom: 5px;

  }

}

/*create meal page*/
#create-meal-page{
  .min_persons .errorlist, .region .errorlist, .list-price .errorlist {
    float: left;
  }
  #restaurant-list {
    height: 377px;
    overflow-y: auto ;
    overflow-x: hidden;
    background-color: #EEE;
    margin-bottom: 15px;
    border: 1px solid #DDD;
    border-left: none;
    padding-right: 1px;
    width:329px;

    ul{
      margin: 0;
    }
  }

  .form-wrapper {
    width: 685px;
    float: left;
  }

  #faq {
    float: right;
    width: 250px;
    margin: 0 0 10px 0;
  }

  #faq .sidebar-box-inner p {
    display: block;
  }

  #create_meal_form fieldset {
    background: white;
    border-bottom: 1px solid #CCC;
    width: 100%;
    position: relative;
    font-size: 16px;
    padding: 53px 0px 5px 1px;
    margin-bottom: 30px;
  }

  #create_meal_form legend {
    padding: 12px;
    font-size: 140%;
    font-weight: bold;
    color: #222;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
  }


  .control-group label {
    font-size: 16px;
  }

  .controls input, .controls textarea {
    width: 360px;
    height: 25px;
    padding: 5px;
    font-size: 18px;
  }

  .controls textarea {
    height: auto;
    resize: none;
  }

  .dk_label {
    color: #666;
    font-size: 16px;
  }

  .dk_toggle {
    padding: 10px 44px 10px 13px;
  }

  #dk_container_id_start_time .dk_toggle {
    background-image: url(../img/clock.png);
    background-position: 12px center;
    padding: 12px 10px 9px 45px;
  }

  #id_start_date {
    float: left;
    font-size: 16px;
    padding: 5px 5px 5px 43px;
    width: 139px;
    margin-right: 10px;
    margin-bottom: 20px;
    visibility: hidden;
    background: url(../img/calendar.png), -webkit-gradient(linear, left top, left bottom, from(white), to(whiteSmoke));
    background: url(../img/calendar.png), -moz-linear-gradient(top, white, whiteSmoke);
    background: url(../img/calendar.png), -o-linear-gradient(top, white, whiteSmoke);
    background: url(../img/calendar.png), linear-gradient(top, white, whiteSmoke);
    background-repeat: no-repeat;
    background-position: 6% center;
    font-weight: bold;
    line-height: 14px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
    color: #666;
    box-shadow: none;
  }

  #choose-menu {

    margin-left: 0;
    padding-top: 15px;
  /*padding-bottom: 10px;*/
  }

  #choose-restaurant {
    width: 330px;
    margin-left: 0px;
    position: relative;
  }

  .restaurant-item {
    width: 312px;
    display: inline-block;
    border-bottom: 1px solid #DDD;
    height: 50px;
    padding: 6px 2px 6px 8px;
    position: relative;
    cursor: pointer;
  }

  .restaurant-item.selected {
    background-color: white;
  }

  .restaurant-item img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    float: left;
    opacity: 0.6;
  }

  .restaurant-item.selected img{
    opacity: 1.0
  }

  span.rest-address, span.rest-location {
    display: block;
    float: left;
    width: 140px;
    font-size: 88%;
    margin-top: 15px;
    color: black;
  }

  .restaurant-item span.rest-price {
    float: right;
    line-height: 46px;
    margin-right: 5px;
  }


  #choose-restaurant-info {
    line-height: 30px;
    text-align: left;
    padding-top: 30px;
    text-shadow: 0 1px 2px #DDD;
    padding-left: 30px;
  }

  #extra_request_link {
    margin-right: 29px;
    font-size: 30px;
  }

  .more-options a:hover {
    text-decoration: none;
  }

  #extra_request_div{
    margin-top: 18px;
  }

  #create_meal_form .form-actions {
    width: 100%;
    margin: 0 auto;
    padding-left: 0;
    border: none;
  }

  button.btn-create-meal {
    width: 150px;
    display: block;
  }

  .form-horizontal .control-group {
    margin-bottom: 18px;
    margin-left: 13px;
  }

  .form-horizontal .control-group label {
    width: 100px;
  }

  .form-horizontal .controls {
    margin-left: 120px;
  }

  .menu-info {
    margin-left: 10px;
  }

  .menu-info .title {
    font-size: 16px;
    color: #000;
  }

  .menu-info .rest-address {
    font-size: 14px;
    color: #333;
    font-weight: normal;
  }

  .menu-info .rest-address {
    margin-top: 10px;
  }

  .rest-address a{
    font-weight: normal;
  }

  .menu-info .menu-name {
    margin: 15px 0;
  }

  .dish-info {
    float: right;
  }

  dt {
    width: 290px;
    padding: 10px 0px;
    font-size: 15px;
  }

  dd {
    width: 250px;
    padding: 0px 0px 5px 15px;
    font-size: 14px;
  }

  .no-menu-info{
    padding: 30px 15px;
  }

  #menu-info-wrapper{
    width:340px;
    margin-left: 15px;
  }

  a.map {
    text-decoration: none;
    font-family: helvetica, arial, sans-serif;
    font-style: normal;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 100%;
    background: -moz-linear-gradient(top, white 0%, #DDD 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #DDD));
    background: -webkit-linear-gradient(top, white 0%, #DDD 100%);
    background: -o-linear-gradient(top, white 0%, #DDD 100%);
    background: -ms-linear-gradient(top, white 0%, #DDD 100%);
    background: linear-gradient(top, white 0%, #DDD 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#dddddd', GradientType = 0);
    color: #333;
    float: none;
    display: inline;
    text-decoration: none;
    border: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    background: #CCC;
    color: #333;
    font-weight: normal;
    text-shadow: none;
    padding: 3px 7px;
    margin-left: 5px;
  }

  #choose-menu-container{
    border-top: 1px solid #DDD;
    min-height: 400px;
  }

  #loading-menus{
    width: 100px;
    margin: 40px 300px;
    z-index: 2;
    position: absolute;
  }

  #dk_container_id_start_time a{
    background-position: 89% center;
  }

  dl.menu-items{
    margin-bottom: 20px;
  }

  .privacy, .start_time, .min_persons{
    height: 54px;
  }

  .privacy select, .start_time select, .min_persons select{
    visibility: hidden;
  }

  #choose-restaurant-msg ul li{
    margin-bottom: 6px;
  }

  #privacy-text{
    line-height: 30px;
    font-weight: bold;
    color: #666;
  }
}

