// Core variables and mixins
@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";

#meal-list a:hover {
    text-decoration: none;
}

.meal-cell {
    position: relative;
    border-bottom: 1px solid #ccc;
    margin-bottom: 25px;
    padding-bottom: 15px;
}

.meal-topic {
    overflow: hidden;
    padding-left: 15px;
    background-image: url(../img/logo.png);
    background-repeat: repeat-y;
    background-position: -10px 0px;
    font-size: 2em;
    a {
        color: #555;
    }
}

.meal-img-wrapper {
    position: relative;
    a img {
        width: 360px;
        height: 240px;
    }
}

.date-wrapper {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 70px;
    text-align: center;
    background: white;
    .border-radius(3px);
    .box-shadow(0 0 10px #000);

    span {
        display: block;
        padding: 3px;
        text-align: center;
        color: #666;
        font-size: 13px;
    }
    .month {
        background: #EEE;
        border-bottom: 1px solid #CCC;
        text-transform: uppercase;
        color: #777;
        padding-top: 5px;
        .border-top-radius(3px);
    }

    .day-num {
        font-size: 230%;
        margin-top: 3px;
        font-weight: bold;
    }

    .day-text {
        margin-top: -3px;
    }

}

.time {
    position: absolute;
    top: 105px;
    left: 16px;
    width: 70px;
    text-align: center;
    color: white;
    background: black;
    padding: 3px 0 3px 0;
    .opacity(80);
    .border-radius(3px);
    .box-shadow(0 0 10px #000);
}

.meal-info {
    p.introduction {
        line-height: 30px;
        font-size: 18px;
        color: #666;
        height: 183px;
    }
}

.btn-book {
    font-size: 30px;
    line-height: 45px;
    width: 80%;
    margin: 0 auto;
    .border-radius(0);
}

