// Core variables and mixins
@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";

#meal-list a:hover {
    text-decoration: none;
}

.meal-cell {
    position: relative;
    border-bottom: 1px solid #ccc;
    margin-bottom: 25px;
    padding-bottom: 15px;
}

.meal-topic {
    overflow: hidden;
    padding-left: 15px;
    background-image: url(../img/logo.png);
    background-repeat: repeat-y;
    background-position: -10px 0px;
    font-size: 2em;
    a {
        color: #555;
    }
}

.meal-img-wrapper {
    position: relative;

    img {
        min-height: 100px;
        min-width: 100px;
    }
}

.date-wrapper {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 70px;
    text-align: center;
    background: white;
    .border-radius(3px);
    .box-shadow(0 0 10px #000);

    span {
        display: block;
        padding: 3px;
        text-align: center;
        color: #666;
        font-size: 13px;
    }
    .month {
        background: #EEE;
        border-bottom: 1px solid #CCC;
        text-transform: uppercase;
        color: #777;
        padding-top: 5px;
        .border-top-radius(3px);
    }

    .day-num {
        font-size: 230%;
        margin-top: 3px;
        font-weight: bold;
    }

    .day-text {
        margin-top: -3px;
    }

}

.time {
    position: absolute;
    top: 105px;
    left: 16px;
    width: 70px;
    text-align: center;
    color: white;
    background: black;
    padding: 3px 0 3px 0;
    .opacity(80);
    .border-radius(3px);
    .box-shadow(0 0 10px #000);
}

.meal-info {
    .introduction {
        line-height: 30px;
        font-size: 18px;
        color: #666;
        min-height: 183px;
    }
}

.btn-book {
    font-size: 30px;
    line-height: 40px;
    width: 80%;
    margin: 0 auto;
    .border-radius(0);
}

/*TODO remove height*/

#meal-detail {
    .btn-book {
        line-height: 50px;
    }
}

#meal-container {
    margin-bottom: 15px;
    padding-bottom: 15px;
}

#users {
    margin-right: -10px;
}

.box-seperator {
    border-bottom: 1px solid #bbb;
}

#meal-grub {
    text-align: center;
    float: left;
    width: 270px;
    background: white;
}

#meal-img-wrapper {
    border: 1px solid #DDD;
    float: left;
    position: relative;
}

#meal-img-wrapper img {
    border: 4px solid white;
    min-height: 100px;
}

.sidebar {
    float: right;
    width: 250px;
    padding: 0 0 9px 9px;
    border-left: 1px solid #BBB;
}

.faq b {
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 115%;
    color: #20538C;
    text-transform: uppercase;
}

.faq p {
    margin-top: 4px;
    margin-bottom: 10px;
    color: #444;
    padding-left: 5px;
    line-height: 130%;
}

#title {
    position: relative;
    margin-bottom: 15px;
    padding-bottom: 10px;
    zoom: 1;
}

#desc {
    line-height: 30px;
    font-size: 16px;
}

.user-wrapper {
}

#title h1 {
    margin-bottom: 10px;
    text-align: left;
}

#creator {
    display: block;
    float: right;
    padding: 11px 6px;
    border: 1px solid #CCC;
    background: #EEE;
    color: #444;
    font-size: 110%;
    vertical-align: middle;
}

.host-name {
    float: left;
    padding-right: 37px;
}

#creator:hover {
    border: 1px solid #bbb;
    -webkit-box-shadow: inset 0 0 6px #bbb;
}

#creator img {
    position: absolute;
    margin-left: 5px;
    top: 5px;
    right: 5px;
}

.what-is-fanju {
    display: block;
    float: left;
    text-align: left;
    padding: 11px;
    background: #F7FF69;
    margin-bottom: 12px;
    font-size: 120%;
    line-height: 140%;
}

.date {
    font-weight: bold;
}

.price {
    font-size: 146%;
    font-weight: bold;
}

.show-menu {
    font-size: 146%;
    font-weight: bold;
    color: #20538C;
}

#users {
    width: 100%;
}

#users h1 {
    margin-bottom: 8px;
    font-size: 1.6em;
    font-weight: bold;
}

h3.name {
    font-size: 165%;
    display: block;
}

.work {
    height: 13px;
    color: #444;
    display: block;
    margin-bottom: 10px;
    margin-left: 10px;
}

img.user-pic {
}

.speech-outter {
    margin: 10px 9px 12px 0;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 193px;
    border: 1px solid #CCC;
    float: right;
}

.speech-arrow {
    width: 15px;
    height: 15px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    background: #E5E5E5;
    left: -5px;
    top: 6px;
}

.speech-inner {
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    text-align: left;
    font-size: 120%;
    line-height: 130%;
    overflow: hidden;
    background: #E5E5E5;
    margin-top: -2px;
}

#menu-popup.ui-widget-content {
    background-color: white;
}

#menu-popup .ribbon-menu {
    position: relative;
    width: 400px;
    height: 41px;
    margin-top: 10px;
    background: #8DC641;
    margin-left: 4px;
    -webkit-box-shadow: inset 41px 0 19px -38px rgba(0, 0, 0, 0.6);
}

#menu-popup .ribbon-right {
    width: 15px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -15px;
    background: url("https://d1gwxpes5z0r7f.cloudfront.net/assets/twopointoh/ribbons/green_ribbon_right-8bcf780b22c077dbe61e227fecf905d1.gif") no-repeat;
}

#menu-popup .ribbon-title {
    position: relative;
    top: 10px;
    text-transform: none;
    font-size: 20px;
    padding: 0 30px 0 30px;
    color: white;
    font-family: georgia, serif;
    font-style: italic;
}

#menu-popup .content {
    padding: 5px 30px 0 30px;
    font-size: 15px;
    color: #666;
/*width: 500px;*/
}

#menu-popup .content h3 {
    color: #222;
    font-size: 16px;
    padding: 10px 0 5px 0;
    font-style: normal;
    clear: right;
}

#menu-popup .content  p {
    margin-top: 0;
    font-size: 14px;
    padding-left: 5px;
    clear: right;
}

.dish-pic {
    float: left;
    clear: left;
    width: 55px;
}

.dish-content {
    width: 400px;
    float: left;
}

dt.category {
    width: 240px;
    padding: 10px 0;
    font-size: 15px;
    font-weight: bold;
    line-height: 18px;
}

dd.dish {
    width: 230px;
    padding: 0 0 5px 7px;
    font-size: 14px;
    line-height: 18px;
}

.dish-info {
    float: right;
}

.dish-info .num {
    margin-right: 5px;
}

#menu .sidebar-box-title {
    background-color: #57D62D;
    color: white;
}

