// Core variables and mixins
@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";

#main-container {
  margin-top: 40px;
}

.actions {
  font-size: 15px;
  .clearfix();
  margin-bottom: 10px;
  .upload-photo-link {
    background: url("../img/upload-photo.png") no-repeat scroll -24px 1px transparent;
    padding-left: 24px;
    margin-left: 10px;
  }
}

#profile-sidebar { // border-right: 1px solid #e5e5e5;
//  width:218px;
  min-height: 600px;

  img.avatar {
    display: block;
    margin: auto;
  }

}

#profile-nav {
  font-size: 16px;
  li {
    margin: 10px;
  }
}

#photo-list {
  .photo {
    width: 210px;
    height: 210px;
  }
}

#photo-wrapper {
  width: 700px;
  margin-top: 20px;
  position: relative;
  a {
    display: block;
  }
  #photo {
    margin: auto;
    display: block;
  }
}

.avatar {

  img {
    height: 180px;
  }

  #upload-avatar-link {
    margin-top: 20px;
    margin-left: 1px;
  }

  #crop-avatar-link {
    margin-top: 20px;
    margin-left: 25px;
  }

  .loading {
    background: url("../img/loader.gif") no-repeat scroll right center transparent;
    margin: 21px 117px 0 7px;
    float: left;
    padding-right: 25px;
  }
}

#photo-detail {
  font-size: 15px;
  clear: both;
  .del-photo-link .icon-remove {
    background-position: -312px 2px;
  }
}

.photo-direction {
  background: url("../img/direction.png") no-repeat;
  position: absolute;
  right: 10px;
  top: 50%;
  width: 26px;
  height: 50px;
  .opacity(0);
  .transition(opacity .5s);
  cursor: pointer;
}

.photo-direction-active {
  .photo-direction {
    .opacity(40);
  }
  .photo-next.highlight, .photo-prev.highlight {
    .opacity(100);
  }
}

.photo-next {
  background-position: -28px -1px;
  right: 10px;
}

.photo-prev {
  background-position: -83px -1px;
  left: 10px;
}

.upload-photo {
  #id_upload_photo_form {
    position: relative;
    width: 181px;
    overflow: hidden;
    z-index: 100001;
  }
  #id_photo {
    font-size: 25px;
    right: 99px;
    top: -3px;
    position: absolute;
    cursor: pointer;
    background: red;
    .opacity(0);
  }

  .loading {
    background: url("../img/loader.gif") no-repeat scroll right center transparent;
    margin: 4px 0 0 21px;
    float: left;
    padding-right: 25px;
  }
}

#id_name, #id_college, #id_industry, #id_work_for, #id_occupation {
  width: 270px;
}

#id_industry {
  width: 283px;
}

#id_birthday_year, #id_birthday_month, #id_birthday_day {
  margin-right: 1px;
}

#id_tags {
  display: none;
}

#tags {

}

.controls .errorlist {
  display: inline-block;
  list-style: none outside none;
  margin-left: 0;
}

.nickname.control-group  .controls .errorlist {
  margin-left: 10px;
  margin-top: 0px;
}

#interst-tags-wrapper {
  position: relative;
}

div.control-group.interest-tags {

  .controls {
    width: 286px;
    float: left;
    margin-left: 21px;

  }

  ul.errorlist{
    margin-top: 0;
  }
  ul.as-selections {
    width: 274px;
  }

  ul.hot-tags {
    span {
      margin: 7px;
      color: #777;
      font-size: 13px;
    }
    a {
      float: left;
      margin-left: 90px;
      margin: 7px 5px 7px 120px;
    }
    .no-more-tags {
      margin-left: 10px;
      float: left;
    }
  }
}

#avatar_alert{
  width: 169px;
  padding: 10px;
}

.controls textarea {
  height: auto;
  resize: none;
}

.control-group.gender .errorlist {
  padding-top: 5px;
  margin: 0 0 0 20px;
  vertical-align: middle;
}

#id_avatar, .file-upload {
  position: absolute;
  z-index: 2000;
  opacity: 0;
  margin-left: -1000px;
}

#id_crop_form img {
  max-width: none;
}

//crop avatar

#cropping-area {
  float: left;
}

#preview_area {
  float: right;
  margin-left: 20px;
}

.preview-container {
  overflow: hidden;
}

#preview_big_container {
  width: 180px;
  height: 180px;
}

#preview_middle_container {
  height: 80px;
  margin-top: 20px;
  width: 80px;
}

#crop_avatar_modal.modal {
  width: auto;
  padding-top: 10px; /* -1 * (width / 2) */

  .modal-body {
    max-height: 800px;
    padding: 30px 30px;
  }

  .close {
    margin: 10px -1px 10px 10px;
  }

  h4 {
    font-weight: normal;
  }
}

#bind-edit-profile h1 {
  font-size: 20px;
  color: #555;
  font-weight: normal;
  line-height: 30px;
}

.welcom-info {
  margin-bottom: 15px;
}

.hot-tags {
  li {
    cursor: pointer;
  }
  .add-icon {
    font-weight: bold;
    color: #555;
    font-size: 16px;
  }
}

.control-group.interest-tags .as-selections.hot-tags {
  box-shadow: none;
  float: right;
  width: 270px;
  min-height: 65px;
  position: absolute;
  top: 0;
  right: 0px;
  li {
    color: #777;
  }

}

.control-group {
  .control-label {
    width: 80px;
  }
  .controls {
    margin-left: 100px;
  }
}

#upload_avatar_form{
  overflow: hidden;
  position: relative;
  #id_avatar_for_upload {
    font-size: 27px;
    position: absolute;
    cursor: pointer;
    height: auto;
    right: 134px;
    top: 14px;
    .opacity(0);
    z-index: 100001;
  }
}


