{% block head %}
    {% block title %}Create a restaurant{% endblock %}
    <script src="/static/js/jquery.min.js" type="text/javascript"></script>
    <script src="/static/js/jquery-ui-1.8.17.custom.min.js" type="text/javascript"></script>
    <script src="/static/js/jquery.ui.autocomplete.html.js" type="text/javascript"></script>
    <script src="/static/js/jquery-impromptu.3.3.min.js" type="text/javascript"></script>
    <link type="text/css" href="/static/css/smoothness/jquery-ui-1.8.17.custom.css" rel="stylesheet" />	
    <style>
	.ui-autocomplete-loading { background: white }
	</style>
	<script type="text/javascript">
	$(function() {
		function log( item ) {
			if(item)
			{
			    $("#id_longitude").val(item.lng);
			    $("#id_latitude").val(item.lat);
			    $("#id_address").val(item.address);
			    /*$("#id_tel").val(item.phoneNumbers[0]);
			    if(item.phoneNumbers.length > 1)
			    {
			        $("#id_tel2").val(item.phoneNumbers[1]);
			    }*/
			}
		}

		$("#id_name").autocomplete(
		{
		    source: "/search/restaurant/",
			minLength: 2,
			select: function( event, ui ) 
			{
				log( ui.item );
			}
		})
		
		//to use html format
		.data( "autocomplete" )._renderItem = function( ul, item ) 
		{
			return $( "<li></li>" )
				.data( "item.autocomplete", item )
				.append( "<a>" + item.label + "</a>" )
				.appendTo( ul );
		};
	});
	</script>
	
    <script type="text/javascript">
         $(document).ready(function() {
            $("#id_name").keyup(function() {
                onRestaurantNameChanged();
           });
         });

        function onRestaurantNameChanged()
        {
            var restaurantName = $('#id_name').val();
            if(restaurantName.length > 1)
            {
                //$.prompt(restaurantName, {timeout: 500});
            }
        }

    </script>
    <link rel="stylesheet" href="/static/css/jquery-impromptu.css" type="text/css" />
    
    

{% endblock %}
{% block content %}
  <h1>Create a restaurant</h1>

  <form action="" method="post">
      {{ form.as_p }}
      <input type="submit" value="Create the restaurant">
  </form>
{% endblock %}
