{% load static_asset %}
{% load static from staticfiles %}
{% load assets %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width">
    <title>{% block title %}餐厅后台管理|饭聚网{% endblock %}</title>
    <meta content="饭聚，饭局，fanju,杭州饭局,美食社交，社交晚餐" name="keywords">
    <meta content="饭聚网是刚刚流行起来的基于兴趣的美食社交，通过一顿饭局让不同的人相聚在餐厅里，一起享受美食的同时，认识和你有着相同兴趣的新朋友。" name="description">
    {% block page_css %}
        {% assets "base_css" %}
            <link href="{% static_asset ASSET_URL %}" media="screen" rel="stylesheet" type="text/css">
        {% endassets %}
        <style type="text/css">
            html body {
                background-image: none;
            }
        </style>
        {% assets "restaurant_admin_css" %}
            <link href="{% static_asset ASSET_URL %}" media="screen" rel="stylesheet" type="text/css">
        {% endassets %}
    {% endblock %}
    {% block base_js %}
        {% assets "base_js" %}
            <script type="text/javascript" src="{% static_asset ASSET_URL %}"></script>
        {% endassets %}
    {% endblock %}
    {% block page_js %}
        {% assets "restaurant_admin_js" %}
            <script type="text/javascript" src="{% static_asset ASSET_URL %}"></script>
        {% endassets %}
    {% endblock %}

</head>
<body>
<div class="container" id="restaurant-container">
    <div class="well" id="header"><h1>{{ request.user.restaurant.name }}</h1></div>
    <div class="row">
        <ul id="restaurant-nav" class="nav nav-pills nav-stacked span2">
            <li id="nav-checkin" class="active"><a href="{% url 'restaurant_checkin' %}"><i
                    class="icon-user"></i> 客人就餐</a></li>
            <li id="nav-today-meals"><a href="{% url 'restaurant_today_meals' %}"><i class="icon-list"></i> 今日饭局</a></li>
            <li id="nav-dish"><a href="{% url 'restaurant_dish_list' %}"><i class="icon-list-alt"></i> 菜单管理</a></li>
            <li id="nav-menu"><a href="{% url 'restaurant_menu_list' %}"><i class="icon-th"></i> 套餐管理</a></li>
            {% comment %}<li id="nav-order-history"><a href="{% url 'restaurant_order' %}"> <i class="icon-list"></i>
                订单历史</a></li>{% endcomment %}
            <li id="nav-logout"><a href="{% url 'logout' %}"><i class="icon-off"></i> 系统退出</a></li>
        </ul>
        {% block content %} {% endblock %}
    </div>
</div>
</body>
</html>