{% extends "restaurant/base.html" %}
{% load static from staticfiles %}
{% block title %}就餐管理{% endblock %}
{% block page_js %}
    <script type="text/javascript" src="{% static 'js/jquery.form.js' %}"></script>
    {{ block.super }}
{% endblock %}
{% block content %}
    <div id="check-in-page" class="span10 content">
        <form id="checkin-form" action="{% url 'restaurant_checkin' %}" method="post" class="well form-search">
            {{ form.code }}
            &nbsp;&nbsp; &nbsp;&nbsp;
            <button type="submit" class="btn btn-primary btn-large">查询</button>
        </form>

        <div id="result" class="row">
        </div>
    </div>
    <div id="data" data-nav-active-id="nav-checkin" style="display: none"></div>
{% endblock %}