{% extends "restaurant/base.html" %}
{% load bootstrap_tags %}
{% block title %}菜单管理{% endblock %}

{% block content %}
    <form id="add_dish_form" action="" method="post" class="form-horizontal shadow"> {% csrf_token %}
        {{ form|as_bootstrap }}
        {#        <legend>添加一道菜</legend>#}
{#        <fieldset>#}
{#            {% for hidden in form.hidden_fields %}#}
{#                {{ hidden }}#}
{#            {% endfor %}#}
{#            {% for field in form.visible_fields %}#}
{##}
{#                <div class="control-group">#}
{#                    <label class="control-label">{{ field.label }}</label>#}
{##}
{#                    <div class="controls">#}
{#                        <label><span id="total_price" class="bl">{{ field }}</span> </label>#}
{#                    </div>#}
{#                </div>#}
{#            {% endfor %}#}
{##}
{#        </fieldset>#}
        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="确定"/>
        </div>

    </form>
    <div id="nav-active-id" style="display: none">nav-menu</div>
{% endblock %}