{% extends "restaurant/base.html" %}
{% load static from staticfiles %}
{% load assets %}
{% load static_asset %}
{% block title %}套餐管理{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="{% static 'css/ui/smoothness/jquery-ui-1.8.21.custom.css' %}">
    {{ block.super }}
    <style>
        dt, dd {
            height: 18px;
        }

        dt {
            margin-top: 10px;
        }

        .helper {
            border: 1px solid #000000;
            padding: 2px;
        }

        .tag {
            background-color: #94BF17;
            color: white;
            border-radius: 3px;
            padding: 2px 4px;
            cursor: default;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: inline-block;
            vertical-align: middle;
            margin: 5px 6px 5px 20px;
        }

        #menu-container .tag {
            display: block;
        }

        dt.tag {
            display: block;
            margin-left: 1px;
            color: #666;
            background: #e4ff4e;
            border: 1px solid #DDD;
        }

        #dish-container dt {
            width: 180px;
        }

        #menu-container dt {
            width: 277px;
        }

        #menu-container dd {
            width: 240px;
        }

        #menu-container .dish-info {
            float: right;;
        }

        #dish-container .close {
            display: none;
        }

        #dish-container .unit, #dish-container .num {
            display: none;
        }

        #dish-container .price {
            float: right;
        }

        #menu-container dt, #menu-container dd {
            margin: 5px auto;
        }

        .help-title {
            margin: 5px 2px;
        }

        .help-content {
            color: #555;
        }
    </style>
{% endblock %}
{% block page_js %}
    {% assets "jquery_ui_js" %}
        <script type="text/javascript" src="{% static_asset ASSET_URL %}"></script>
    {% endassets %}
    {{ block.super }}
    <script>
        function helperMasker() {
            return $(this).clone().addClass("helper").css("width", $(this).width())
        }

        function hideDishes(dishId) {
            $("#dish-container [dish-id=" + dishId + "]").hide();
        }

        function showDishes(dishId) {
            $("#dish-container [dish-id=" + dishId + "]").fadeIn(1000);
        }

        $(function () {


            $(".help-title a").click(function () {
                $(".help-content").slideToggle(1000);
            })

            //drag category
            $("#dish-container dt, #dish-container dd").draggable({
                connectToSortable:"#menu-container",
                revert:"invalid",
                helper:helperMasker,
                cursor:"move",
                opacity:0.35
            });

            $("#menu-container").sortable({
                cursor:"move",
                placeholder:"ui-state-highlight",
                forcePlaceholderSize:true,
                containment:"#menu-container",
                receive:function (e, ui) {
                    hideDishes(ui.sender.attr("dish-id"));
                }
            });


            $("#dish-container dd,#dish-container dt").dblclick(function (e) {
                $(this).clone().appendTo($("#menu-container")).fadeIn();
                hideDishes($(this).attr("dish-id"))
            })

            $("#menu-container dt").live('dblclick', function (e) {
                $(this).fadeOut(1000).remove();
            })
            $("#menu-container dt .close").live('click', function (e) {
                $(this).parents("dt").fadeOut(1000).remove();
                return false;
            })
            $("#menu-container dd").live('dblclick', function (e) {
                $(this).fadeOut(1000).remove();
                showDishes($(this).attr("dish-id"))
            });
            $("#menu-container dd .close").live('click', function (e) {
                $(this).parents("dd").fadeOut(1000).remove();
                showDishes($($(this).parents("dd")).attr("dish-id"))
            })


            $("body").disableSelection();
        });
    </script>
{% endblock %}

{% block content %}
    <div class="well">
        <div class="help-title"><a href="#">操作帮助</a></div>
        <div class="help-content" style="display: none">
            <p>如何添加一道菜或者一个分类到套餐中？<br/>&nbsp;&nbsp;&nbsp;&nbsp;拖动左边的菜或分类到右边的框中，或者双击左边的菜或分类，会自动添加到右侧
            </p>

            <p>如何从套餐中删除一道菜或者一个分类？<br/>&nbsp;&nbsp;&nbsp;&nbsp; 双击右侧的菜或分类，从套餐中删除这道菜或者分类</p>

            <p>如何调整菜或者分类在套餐中的显示顺序？<br/>&nbsp;&nbsp;&nbsp;&nbsp;在右侧可以上下拖动菜或者分类调整顺序</p></div>
    </div>

    <div class="row">
        <div id="dish-container" class="span6">
            <dl class="category">
                {% for category in categories %}
                    <dt class="category tag" category-id="{{ category.id }}">{{ category.name }} <a
                            href="#" class="close cb">&times;</a></dt>
                    {% for dish in dishes %}
                        {% if category in dish.categories.all %}
                            <dd class="tag" dish-id="{{ dish.id }}"><span class="dish-name">{{ dish.name }}</span>
                                <a href="#" class="close">&times;</a>

                                <span class="dish-info"> <span class="price">{{ dish.price }} 元</span><span
                                        class="unit"> /{{ dish.unit }} &times; </span><a
                                        class="num">3</a>&nbsp;&nbsp; </span></dd>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </dl>
        </div>
        <div id="menu-container" class="span4">
        </div>
    </div>
    <div id="nav-active-id" style="display: none">nav-menu</div>
{% endblock %}