{% extends "restaurant/base.html" %}
{% load static from staticfiles %}
{% block title %}套餐管理{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="{% static 'css/ui/smoothness/jquery-ui-1.8.21.custom.css' %}">
    {{ block.super }}
    <style>
        dt, dd {
            height: 1.5em;
        }

        .helper {
            border: 1px solid #000000;
            padding: 2px;
        }
    </style>
{% endblock %}
{% block page_js %}
    <script type="text/javascript" src="{% static 'js/jquery-ui-1.8.21.custom.min.js' %}"></script>
    {{ block.super }}
    <script>
        $(function () {

            $("#dish-container dd").draggable({
                connectToSortable:"#menu-container dl.category",
                revert:"invalid",
                helper:function () {
                    return $(this).clone().addClass("helper").css("width", $(this).width())
                },
                cursor:"move",
                opacity:0.35,
                start:function () {

                }
            });
            $("#dish-container dt").draggable({
                connectToSortable:"#menu-container",
                revert:"invalid",
                helper:function () {
                    return $(this).clone().addClass("helper").css("width", $(this).width())
                },
                cursor:"move",
                opacity:0.35,
                start:function () {

                }
            });



//            $("#dish-container").droppable({
//                accept:"dd"
////                hoverClass:"ui-state-highlight"
//            })


            $("#menu-container").sortable({
                cursor:"move",
                placeholder:"ui-state-highlight",
                revert:true,
                forcePlaceholderSize:true
            });


//            $("#dish-container dl.category").sortable({
//                placeholder:"ui-state-highlight",
//                connectWith:"#menu-container dl.category",
//                items: "dd"
//            });
            $("#menu-container dl.category").sortable({
                cursor:"move",
                placeholder:"ui-state-highlight",
                connectWith:"#menu-container dl.category",
                items:"dd",
                revert:"invalid"

            });

            $("body").disableSelection();
        });
    </script>
{% endblock %}

{% block content %}
    <div class="well">
    请拖动左边的菜到右边的框中：（未全部完成）
    </div>

    <div class="row">
        <div id="dish-container" class="span5">
            {% for category in categories %}
                <dl class="category">
                    <dt class="category" >{{ category.name }}</dt>
                    {% for dish in dishes %}
                        {% if category in dish.categories.all %}
                            <dd>{{ dish.name }}</dd>
                        {% endif %}
                    {% endfor %}
                </dl>

            {% endfor %}
        </div>
        <div id="menu-container" class="span5">
            <dl class="category">
                <dt>热菜</dt>
                <dd>11</dd>
            </dl>
            <dl class="category">
                <dt>冷菜</dt>
                <dd>21</dd>
            </dl>

            <dl class="category">
                <dt>海鲜</dt>
                <dd>31</dd>
            </dl>

        </div>
    </div>
    <div id="nav-active-id" style="display: none">nav-menu</div>
{% endblock %}