{% extends "base.html" %}
{% block title %}预定{% endblock %}
{% block content %}

    {{ meal.topic }}

    <form action="" method="post"> {% csrf_token %}

        {{ form.as_p }}
        <input type="hidden" name="meal_price" value="{{ meal.list_price }}" id="meal_price">

        <p>总价钱：<span id="total_price">{{ meal.list_price }}</span> 元</p>
        <input type="submit" value="支付"/>
    </form>
{% endblock %}

{% block page_js %}
    <script type="text/javascript">
    $("#id_num_persons").change(function(){
        $("#total_price").html($("#meal_price").val() * $(this).val());
    })
    </script>
{% endblock %}