{% load static from staticfiles %}
{% with meal=order.meal %}
    <div class="meal-cell span4 fl">
        <h2 class="meal-topic"><a href="{{ meal.get_absolute_url }}">{{ meal.topic }}</a></h2>
        <a href="{% url order_detail meal.id order.id %}" class="order-detail-link">订单详情</a>

        <div class="meal-img-wrapper ">
            <a href="{{ meal.get_absolute_url }}">
                <img width="285" height="190" src="{% static 'img/meal-placeholder.png' %}"
                     class="lazy img-polaroid"
                     data-original="{{ meal.get_small_cover_url }}">
            </a>

            <div class="date-wrapper">
                <span class="month">{{ meal.start_date|date:"n" }}月</span>
                <span class="day-num">{{ meal.start_date|date:"d" }}</span>
                <span class="day-text">{{ meal.start_date|date:"D" }}</span>
            </div>
            <div class="time">{{ meal.start_time|date:"G:i " }}</div>
        </div>
    </div>
{% endwith %}