{% extends "base.html" %}
{% load static from staticfiles %}
{% load static_asset %}
{% load assets %}
{% block title %}{{ city|default:"杭州" }}的饭局{% endblock %}
{% block page_css %}
    {{ block.super }}
    {% assets "module_css" %}
        <link href="{% static_asset ASSET_URL %}" media="screen" rel="stylesheet" type="text/css">
    {% endassets %}
{% endblock %}
{% block base_js %}
    {% assets "base_main_js" %}
        <script type="text/javascript" src="{% static_asset ASSET_URL %}"></script>
    {% endassets %}
    {% assets "module_js" %}
        <script type="text/javascript" src="{% static_asset ASSET_URL %}"></script>
    {% endassets %}
{% endblock %}
{% block page_js %}
{% endblock %}
{% block content %}
    <div class="row" id="meal-list-page">
        <div id="meal-list" class="">
            {% for order in my_order_list %}
                {% with meal=order.meal %}
                    <div class="meal-cell span4 fl">
                        <h2 class="meal-topic"><a href="{{ meal.get_absolute_url }}">{{ meal.topic }}</a></h2>

                        <div class="meal-img-wrapper ">
                            <a href="{{ meal.get_absolute_url }}">
                                <img width="285" height="" src="{% static 'img/meal-placeholder.png' %}"
                                     class="lazy img-polaroid"
                                     data-original="{{ meal.get_small_cover_url }}">
                            </a>

                            <div class="date-wrapper">
                                <span class="month">{{ meal.start_date|date:"n" }}月</span>
                                <span class="day-num">{{ meal.start_date|date:"d" }}</span>
                                <span class="day-text">{{ meal.start_date|date:"D" }}</span>
                            </div>
                            <div class="time">{{ meal.start_time|date:"G:i " }}</div>
                        </div>
                        <div class="meal-info ">
                            <p class="introduction">
                                {{ meal.introduction|truncatechars:"110" }}
                            </p>
                            {#                            {{ if meal. }}#}
                            {#                            <a class="btn btn-primary btn-block btn-book " href="{{ meal.get_absolute_url }}">查看饭局</a>#}
                        </div>
                        <div class="order-info ">
                            单价：35<br/>单价：35<br/>单价：35<br/>单价：35<br/>单价：35<br/>

                        </div>
                    </div>
                {% endwith %}
            {% endfor %}
    </div>

    </div>
{% endblock %}
