{% extends "base.html" %}
{% load static from staticfiles %}
{% load static_asset %}
{% load assets %}
{% block title %}{{ city|default:"杭州" }}的饭局{% endblock %}
{% block page_css %}
    {{ block.super }}
    {% assets "module_css" %}
        <link href="{% static_asset ASSET_URL %}" media="screen" rel="stylesheet" type="text/css"
              xmlns="http://www.w3.org/1999/html">
    {% endassets %}
{% endblock %}
{% block base_js %}
    {% assets "base_main_js" %}
        <script type="text/javascript" src="{% static_asset ASSET_URL %}"></script>
    {% endassets %}
    {% assets "module_js" %}
        <script type="text/javascript" src="{% static_asset ASSET_URL %}"></script>
    {% endassets %}
{% endblock %}
{% block page_js %}
{% endblock %}
{% block content %}
    <div class="row" id="my-meals-page">
        <div id="meal-list" class="">
            {% for upcommming_order in upcomming_orders %}
                {% include 'order/my_orders_frag.html' with order=upcommming_order %}
            {% endfor %}
            {% if passed_orders %}
                <h3 class="pass-meals-info span12">已结束的饭局</h3>
                {% for passed_order in passed_orders %}
                    {% include 'order/my_orders_frag.html' with order=passed_order %}
                {% endfor %}
            {% endif %}

            {% if not upcomming_order and not passed_orders %}
                您还没有参加任何饭局！<a href="{% url meal_list %}">现在就去看看吧</a>
            {% endif %}
        </div>

    </div>
{% endblock %}
