<div class="social-login fr clearfix">

    <p>使用其它帐号登录：</p>
    <ul>
        <li class="authentication-button">
            <a id="facebook_login_button" href="#"><img alt="facebook" src="https://d1gwxpes5z0r7f.cloudfront.net/assets/twopointoh/authbuttons/facebook_64-26b08d6a1ce2ec9aabbc9021617b4f12.png" width="55"></a>
        </li>
        <li class="authentication-button">
            <a id="twitter_login_button" href="#"><img alt="twitter" src="https://d1gwxpes5z0r7f.cloudfront.net/assets/twopointoh/authbuttons/twitter_64-6c0e801dae1243298c9d9bc288576bb8.png" width="55"></a>
        </li>
        <li class="authentication-button">
            <a id="google_login_button" href="#"><img alt="google" src="https://d1gwxpes5z0r7f.cloudfront.net/assets/twopointoh/authbuttons/google_64-f11a4ec05f4813fffe5b629a1c50687a.png" width="55"></a>

        </li>
    </ul>
</div>