{% extends "profile/base.html" %}
{% load static_asset %}
{% load static from staticfiles %}{% load assets %}
{% block title %}{% if is_mine %}我{% else %}TA{% endif %}的照片{% endblock %}
{% block page_js %}
    {% assets "jquery_color_js" %}
        <script type="text/javascript" src="{% static_asset ASSET_URL %}"></script>
    {% endassets %}
    {{ block.super }}
{% endblock %}

{% block profile-main %}
    <div id="photo-detail-page" class="span12">
        <div class="photo-actions">
            <a href="{% url 'photo_list' photo.user.id %}" class="fl">
                << 返回相册
            </a>
            {% if is_mine %}<a class="upload-photo-link fr" href="{% url 'upload_photo' %}">上传照片</a>
                <a class="del-photo-link fr" href="{% url 'del_photo' photo.id %}"><i
                        class="icon-remove"></i>删除照片</a> {% endif %}
        </div>
        <div id="photo-wrapper">
            <a href="{% url 'photo_detail' photo.id %}">
                <img id="photo" src="{{ photo.large_photo }}">
            </a>
            <span class="photo-direction photo-prev " url='{% url 'photo_detail' pre_photo.id %}' title="上一张"></span>
            <span class="photo-direction photo-next " url='{% url 'photo_detail' next_photo.id %}' title="下一张"></span>
        </div>
        <div id="like-wrapper" class="">
            <a id="like-link" class="btn btn" href="{% url "add_like" 'userphoto' photo.id %}"
               {% if is_already_liked %}data-is-already-liked="true"{% endif %}>
               <i class="icon-thumbs-up"></i>&nbsp;赞</a>
            <a id="like-num" href="{% url 'user_list' %}?target_type=userphoto&target_id={{ photo.id }}"
               target="_blank" class="like-num btn btn-link" title="查看赞的用户">{{ photo.likes.count }}</a>
        </div>
    {% include 'comments/comment_outer_frag.html' with target=photo comment_type='photo' %}
    </div>

    <div id="data" class='hide' data-owner-id='{{ profile.id }}' data-active-nav-id="profile_photo"></div>
{% endblock %}