{% extends 'profile/base.html' %}
{% load static from staticfiles %}{% load assets %}{% load static_asset %}
{% block title %}{% if is_mine %}我{% else %}TA{% endif %}的照片{% endblock %}
{% block module_css %}
     {% if user.is_fake_user %}
         {% assets "edit_profile_css" %}
            <link href="{% static_asset ASSET_URL %}" media="screen" rel="stylesheet" type="text/css">
        {% endassets %}
    {% endif %}
{% endblock %}
{% block page_js %}
     {{ block.super }}
    {% if user.is_fake_user %}
        {% assets "image_cropping_js" %}
            <script type="text/javascript" src="{% static_asset ASSET_URL %}"></script>
        {% endassets %}
        <script>
        var jcrop_api_fake
            // convert bytes into friendly format
            function bytesToSize(bytes) {
                var sizes = ['Bytes', 'KB', 'MB'];
                if (bytes == 0) return 'n/a';
                var i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)));
                return (bytes / Math.pow(1024, i)).toFixed(1) + ' ' + sizes[i];
            }

            // update info by cropping (onChange and onSelect events handler)
            function updateInfo(e) {
                $('#x1').val(e.x);
                $('#y1').val(e.y);
                $('#x2').val(e.x2);
                $('#y2').val(e.y2);
                $('#w').val(e.w);
                $('#h').val(e.h);
            }

            // clear info by cropping (onRelease event handler)
            function clearInfo() {
                $('.info #w').val('');
                $('.info #h').val('');
            }

            function fileSelectHandler() {



                // get selected file
                var oFile = $('#image_file')[0].files[0];

                // hide all errors
                $('.fake-error').hide();

                // check for image type (jpg and png are allowed)
                var rFilter = /^(image\/jpeg|image\/png)$/i;
                if (!rFilter.test(oFile.type)) {
                    $('.fake-error').html('Please select a valid image file (jpg and png are allowed)').show();
                    return;
                }

                // check for file size
                if (oFile.size > 3 * 1024 * 1024) {
                    $('.fake-error').html('You have selected too big file, please select a one smaller image file').show();
                    return;
                }

                // preview element
                var oImage = document.getElementById('preview');

                // prepare HTML5 FileReader
                var oReader = new FileReader();
                oReader.onload = function (e) {

                    // e.target.result contains the DataURL which we can use as a source of the image
                    oImage.src = e.target.result;
                    oImage.onload = function () { // onload event handler

                        // display step 2
                        $('.step2').fadeIn(500);

                        // display some basic image info
                        var sResultFileSize = bytesToSize(oFile.size);
                        $('#filesize').val(sResultFileSize);
                        $('#filetype').val(oFile.type);
                        $('#filedim').val(oImage.naturalWidth + ' x ' + oImage.naturalHeight);

                        // Create variables (in this scope) to hold the Jcrop API and image size
                        var boundx, boundy;

                        // destroy Jcrop if it is existed
                        if (typeof jcrop_api_fake != 'undefined')
                            jcrop_api_fake.destroy();

                        // initialize Jcrop
                        $('#preview').Jcrop({
                            minSize: [32, 32], // min crop size
{#                            aspectRatio: 1, // keep aspect ratio 1:1#}
                            bgFade: true, // use fade effect
                            bgOpacity: .3, // fade opacity
                            onChange: updateInfo,
                            onSelect: updateInfo,
                            onRelease: clearInfo,
                            boxWidth: 940,
                            boxHeight: 1600
                        }, function () {

                            // use the Jcrop API to get the real image size
                            var bounds = this.getBounds();
                            boundx = bounds[0];
                            boundy = bounds[1];

                            // Store the Jcrop API in the jcrop_api variable
                            jcrop_api_fake = this;
                        });
                    };
                };

                // read selected file as DataURL
                oReader.readAsDataURL(oFile);
            }
            $(function(){
                $("#upload_for_fake_user").click(function () {
                   if (!$('#filesize').val()){
                       alert("请上传图片")
                       return false;
                   }

                    $("#upload_form_fake").ajaxSubmit({
                        beforeSubmit: function () {
                            $("#fade_loading").show();
                        },
                        success: function (data) {
                            data = $.parseJSON(data);
                            if (data.status == 'OK') {
                                window.location = data.redirect_url;
                                $("#fade_loading").hide();
                            }
                        }
                    })
                    return false
                })
            })

        </script>
    {% endif %}

{% endblock %}
{% block profile-main %}

    <div id="upload-photo-page" class="span12">
        <h4>上传照片</h4>

        <p class="tip">你可以上传JPG，JPEG，GIF，PNG或BMP文件，每个文件不超过3M。</p>

        <form action="{% url 'upload_photo' %}" id="id_upload_photo_form" method="post" enctype="multipart/form-data">
            {{ form.photo }}
            <a id="btn-upload-photo" class="btn btn-primary fl" href="#">浏览文件</a>

            <div class="loading hide ">上传中</div>
        </form>


        {% if user.is_fake_user %}
            {% include 'profile/photo/frag_upload_photo_for_fake_user.html' %}
        {% endif %}

    </div>
    <div id="data" class='hide' data-active-nav-id="profile_photo"></div>
{% endblock %}