html {
    color: #000;
    background: #FFF
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset, img {
    border: 0
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal
}

ol, ul {
    list-style: none
}

caption, th {
    text-align: left
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal
}

q:before, q:after {
    content: ''
}

abbr, acronym {
    border: 0;
    font-variant: normal
}

sup {
    vertical-align: text-top
}

sub {
    vertical-align: text-bottom
}

input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit
}

input, textarea, select {
    *font-size: 100%
}

legend {
    color: #000
}

/*文字排版*/
.f12 {
    font-size: 12px
}

.f13 {
    font-size: 13px
}

.f14 {
    font-size: 14px
}

.f16 {
    font-size: 16px
}

.f20 {
    font-size: 20px
}

.fb {
    font-weight: bold
}

.fn {
    font-weight: normal
}

.t2 {
    text-indent: 2em
}

.lh150 {
    line-height: 150%
}

.lh180 {
    line-height: 180%
}

.lh200 {
    line-height: 200%
}

.unl {
    text-decoration: underline;
}

.no_unl {
    text-decoration: none;
}

/*定位*/
.tl {
    text-align: left
}

.tc {
    text-align: center
}

.tr {
    text-align: right
}

.bc {
    margin-left: auto;
    margin-right: auto;
}

.fl {
    float: left;
    display: inline
}

.fr {
    float: right;
    display: inline
}

.cb {
    clear: both
}

.cl {
    clear: left
}

.cr {
    clear: right
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.clearfix {
    display: inline-block
}

* html .clearfix {
    height: 1%
}

.clearfix {
    display: block
}

.vm {
    vertical-align: middle
}

.pr {
    position: relative
}

.pa {
    position: absolute
}

.abs-right {
    position: absolute;
    right: 0
}

.zoom {
    zoom: 1
}

.hidden {
    visibility: hidden
}

.none {
    display: none
}

/*长度高度*/
.w10 {
    width: 10px
}

.w20 {
    width: 20px
}

.w30 {
    width: 30px
}

.w40 {
    width: 40px
}

.w50 {
    width: 50px
}

.w60 {
    width: 60px
}

.w70 {
    width: 70px
}

.w80 {
    width: 80px
}

.w90 {
    width: 90px
}

.w100 {
    width: 100px
}

.w200 {
    width: 200px
}

.w250 {
    width: 250px
}

.w300 {
    width: 300px
}

.w400 {
    width: 400px
}

.w500 {
    width: 500px
}

.w600 {
    width: 600px
}

.w700 {
    width: 700px
}

.w800 {
    width: 800px
}

.w {
    width: 100%
}

.h50 {
    height: 50px
}

.h80 {
    height: 80px
}

.h100 {
    height: 100px
}

.h200 {
    height: 200px
}

.h {
    height: 100%
}

/*边距*/
.m10 {
    margin: 10px
}

.m15 {
    margin: 15px
}

.m30 {
    margin: 30px
}

.mt5 {
    margin-top: 5px
}

.mt10 {
    margin-top: 10px
}

.mt15 {
    margin-top: 15px
}

.mt20 {
    margin-top: 20px
}

.mt30 {
    margin-top: 30px
}

.mt50 {
    margin-top: 50px
}

.mt100 {
    margin-top: 100px
}

.mb10 {
    margin-bottom: 10px
}

.mb15 {
    margin-bottom: 15px
}

.mb20 {
    margin-bottom: 20px
}

.mb30 {
    margin-bottom: 30px
}

.mb50 {
    margin-bottom: 50px
}

.mb100 {
    margin-bottom: 100px
}

.ml5 {
    margin-left: 5px
}

.ml10 {
    margin-left: 10px
}

.ml15 {
    margin-left: 15px
}

.ml20 {
    margin-left: 20px
}

.ml30 {
    margin-left: 30px
}

.ml50 {
    margin-left: 50px
}

.ml100 {
    margin-left: 100px
}

.mr5 {
    margin-right: 5px
}

.mr10 {
    margin-right: 10px
}

.mr15 {
    margin-right: 15px
}

.mr20 {
    margin-right: 20px
}

.mr30 {
    margin-right: 30px
}

.mr50 {
    margin-right: 50px
}

.mr100 {
    margin-right: 100px
}

.p10 {
    padding: 10px;
}

.p15 {
    padding: 15px;
}

.p30 {
    padding: 30px;
}

.pt5 {
    padding-top: 5px
}

.pt10 {
    padding-top: 10px
}

.pt15 {
    padding-top: 15px
}

.pt20 {
    padding-top: 20px
}

.pt30 {
    padding-top: 30px
}

.pt50 {
    padding-top: 50px
}

.pb5 {
    padding-bottom: 5px
}

.pb10 {
    padding-bottom: 10px
}

.pb15 {
    padding-bottom: 15px
}

.pb20 {
    padding-bottom: 20px
}

.pb30 {
    padding-bottom: 30px
}

.pb50 {
    padding-bottom: 50px
}

.pb100 {
    padding-bottom: 100px
}

.pl5 {
    padding-left: 5px
}

.pl10 {
    padding-left: 10px
}

.pl15 {
    padding-left: 15px
}

.pl20 {
    padding-left: 20px
}

.pl30 {
    padding-left: 30px
}

.pl50 {
    padding-left: 50px
}

.pl100 {
    padding-left: 100px
}

.pr5 {
    padding-right: 5px
}

.pr10 {
    padding-right: 10px
}

.pr15 {
    padding-right: 15px
}

.pr20 {
    padding-right: 20px
}

.pr30 {
    padding-right: 30px
}

.pr50 {
    padding-right: 50px
}

.pr100 {
    padding-right: 100px
}

/** {
    margin: 0px;
    padding: 0px;
}*/

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

div.hidden, a.hidden, p.hidden {
    display: none;
}

body {
    display: block;
}

html {
    background: black url("../img/site-bg.jpg") repeat-x fixed top center;
}

html, body {
    font-size: 12px;
    font-family: helvetica, arial, sans-serif;
}

img {
    text-decoration: none;
}

#main-nav {
    background: url("../img/nav-background.png");
    text-align: center;
    z-index: 999;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    height: 52px;
    font: bold 17px "microsoft yahei", simsun, sans-serif;
}

.nav-inner {
    width: 980px;
    height: 50px;
    margin: 0 auto;
}

.logo {
    float: left;
    margin-left: -11px;
}

.nav-inner ul {
    margin-left: 129px;
    width: 450px;
    float: left;
}

.nav-inner ul li {
    display: inline-block;
    float: left;
    line-height: 42px;
    font-size: 115%;
    border-left: 1px solid #222;
    border-right: 1px solid #222;
    margin-left: -1px;
}

.nav-inner ul li a {
    display: inline-block;
    float: left;
    line-height: 42px;
    font-weight: bold;
    color: #DDD;
    text-decoration: none;
    padding: 0 35px;
    text-shadow: black 0 -1px 1px;
    position: relative;
}

.nav-inner ul li.current a, .nav-inner ul li.current a:hover {
    color: white;
    background: url("../img/nav-background.png");
    -moz-box-shadow: inset 0 0 10px #000;
    -webkit-box-shadow: inset 0 0 10px #000;
    box-shadow: inset 0 0 10px #000;
}

.clear-fix {
    clear: both;
}

#page-container {
}

#container-upper {
    width: 1000px;
    height: 42px;
    margin: 50px auto 0 auto;
    background: url(../img/container_upper_shadower.png);
    padding-left: 10px
}

#container-middle {
    background: url("../img/container_background.png");
    margin: 0 auto;
    width: 1000px;
    padding-left: 10px
}

.date-wrapper {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 70px;
    text-align: center;
    background: white;
    box-shadow: 0 0 10px #000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.month {
    background: #EEE;
    border-bottom: 1px solid #CCC;
    text-transform: uppercase;
    color: #777;
    padding-top: 5px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-top-left-radius: 3px;
    -moz-border-top-right-radius: 3px;
}

.date-wrapper span {
    display: block;
    padding: 3px;
    text-align: center;
    color: #666;
    font-size: 13px;
}

.date-wrapper .day-num {
    font-size: 230%;
    margin-top: 3px;
    font-weight: bold;
}

.date-wrapper .day-text {
    margin-top: -3px;
}

.time {
    position: absolute;
    top: 105px;
    left: 16px;
    width: 70px;
    text-align: center;
    color: white;
    background: black;
    opacity: 0.8;
    padding: 3px 0 3px 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0 0 10px #000;
}

input[type="text"], input[type="password"], input[type="email"], input[type="user[email]"], .referral-link, .find-by-name {
    color: #333;
    font-size: 13px;
    height: 25px;
    width: 100%;
    border: 1px solid #CCC;
    padding: 0;
    text-indent: 5px;
    -webkit-box-shadow: inset #eee 2px 3px 3px;
    -moz-box-shadow: inset #eee 2px 3px 3px;
    box-shadow: inset #eee 2px 3px 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
}

input[type="text"].cart_day {
    width: 120px;
    background: whiteSmoke url("../img/date-pickker-icon.png") no-repeat 12px center;
    font-family: 'Helvetica', Arial, sans-serif;
    font-weight: bold;
    line-height: 14px;
    margin-bottom: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
    color: #666;
    font-size: 16px;
    padding: 6px 15px 6px 40px;
    box-shadow: none;
}

.dk_toggle {
    background: url("../img/time-pickker-bg.png") no-repeat 90% center;
    border: 1px solid #CCC;
    color: #333;
    padding: 7px 45px 7px 10px;
    text-shadow: white 1px 1px 0;
    text-align: left;
}

.dk_toggle {
    display: -moz-inline-stack;
    display: inline-block;
    position: relative;
    zoom: 1;
}

#dk_container_cart_time .dk_toggle {
    background-image: url("../img/time-pickker-icon.png");
    background-position: 12px center;
    padding: 12px 10px 12px 45px;
    width: 120px;
    text-align: left;
}

.button, .resumator-button, .resumator-apply-button, .join, input[type="submit"], .view-more {
    text-decoration: none;
    color: white;
    font-family: helvetica, arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    padding: 4px 6px;
    background: #446D9C;
    display: inline-block;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 5px #444;
    -moz-box-shadow: 0 0 5px #444;
    box-shadow: 0 0 5px #444;
    text-shadow: 0 1px 2px black;
    border: 1px solid #2F3C5C;
    font-size: 100%;
}

.button:hover, .join:hover, input[type="submit"]:hover, .view-more:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#2C496B), to(#28415E));
    color: white;
}

.dk_container.dk_theme_default {
    margin: 10px;
}

#footer {
    height: 150px;
    margin: 0 auto;
    width: 1000px;
    padding-left: 10px;
    background: url("../img/container_background.png");
}

#footer img {
    margin-left: 30px;
}

