body{
    background-image: url('../img/site-bg.png')
}
/*html {*/
    /*background: black url("../img/site-bg.jpg") repeat-x fixed top center;*/
/*}*/

/*html, body {*/
    /*font-size: 12px;*/
    /*font-family: helvetica, arial, sans-serif;*/
/*}*/

/*img {*/
    /*text-decoration: none;*/
/*}*/

/*#main-nav {*/
    /*background: url("../img/main-nav-bg.png");*/
    /*text-align: center;*/
    /*_overflow:hidden;*/
    /*z-index: 999;*/
    /*width: 100%;*/
    /*top: 0;*/
    /*left: 0;*/
    /*position: fixed;*/
    /*height: 52px;*/
    /*font: bold 17px "microsoft yahei", simsun, sans-serif;*/
/*}*/

/*.nav-inner {*/
    /*width: 980px;*/
    /*height: 50px;*/
    /*margin: 0 auto;*/
/*}*/

/*.logo {*/
    /*float: left;*/
    /*margin-left: -11px;*/
/*}*/

/*.nav-inner ul {*/
    /*margin-left: 218px;*/
    /*width: 761px;*/
    /*float: left;*/
/*}*/

/*.nav-inner ul li {*/
    /*display: inline-block;*/
    /*float: left;*/
    /*line-height: 42px;*/
    /*font-size: 115%;*/
    /*border-left: 1px solid #222;*/
    /*border-right: 1px solid #222;*/
    /*margin-left: -1px;*/
/*}*/

/*.nav-inner ul li a {*/
    /*display: inline-block;*/
    /*float: left;*/
    /*line-height: 42px;*/
    /*font-weight: bold;*/
    /*color: #DDD;*/
    /*text-decoration: none;*/
    /*padding: 0 35px;*/
    /*text-shadow: black 0 -1px 1px;*/
    /*position: relative;*/
/*}*/

/*.nav-inner ul li.current a, .nav-inner ul li.current a:hover {*/
    /*color: white;*/
    /*background: url("../img/main-nav-bg.png");*/
    /*-moz-box-shadow: inset 0 0 10px #000;*/
    /*-webkit-box-shadow: inset 0 0 10px #000;*/
    /*box-shadow: inset 0 0 10px #000;*/
/*}*/
/*.nav-sign{*/
    /*color: white;*/
    /*background: url("../img/nav-sign-bg.png");*/
    /*-moz-box-shadow: inset 0 0 1px #111;*/
    /*-webkit-box-shadow: inset 0 0 1px #111;*/
    /*box-shadow: inset 0 0 1px #111;*/
    /*float: right;*/
    /*display: block;*/
    /*border-radius: 3px;*/
    /*-webkit-border-radius: 3px;*/
    /*-moz-border-radius: 3px;*/
    /*padding: 6px 13px;*/
    /*font-size: 90%;*/
    /*border: 1px solid #333;*/
    /*margin-left: 7px;*/
    /*margin-top: 7px;*/
/*}*/

/*#page-container {*/
    /*position: relative;*/
    /*width:1008px;*/
    /*margin: 0 auto;*/
    /*_margin-top:-50px;*/
/*}*/



/*#container-upper {*/
    /*height: 42px;*/
    /*margin-top: 50px;*/
    /*background: url(../img/container_upper_shadower.png);*/
/*}*/

/*#container-middle {*/
    /*background: url("../img/container-bg.png");*/
/*}*/

/*#container-lower{*/
    /*height: 41px;*/
    /*background: url("../img/container-lower-bg.png");*/
/*}*/

/*.small-page #container-upper {*/
    /*height: 56px;*/
    /*margin-top: 73px;*/
    /*background: url(../img/small-container-upper-bg.png);*/
/*}*/

/*.small-page #container-middle {*/
    /*background: url("../img/small-container-bg.png");*/
/*}*/

/*.small-page #container-lower{*/
    /*height: 61px;*/
    /*background: url("../img/small-container-lower-bg.png");*/
/*}*/


/*.content{*/
    /*margin: auto 25px;*/
/*}*/

.navbar{
    margin-bottom: 5px;
}

.date-wrapper {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 70px;
    text-align: center;
    background: white;
    box-shadow: 0 0 10px #000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.month {
    background: #EEE;
    border-bottom: 1px solid #CCC;
    text-transform: uppercase;
    color: #777;
    padding-top: 5px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-top-left-radius: 3px;
    -moz-border-top-right-radius: 3px;
}

.date-wrapper span {
    display: block;
    padding: 3px;
    text-align: center;
    color: #666;
    font-size: 13px;
}

.date-wrapper .day-num {
    font-size: 230%;
    margin-top: 3px;
    font-weight: bold;
}

.date-wrapper .day-text {
    margin-top: -3px;
}

.time {
    position: absolute;
    top: 105px;
    left: 16px;
    width: 70px;
    text-align: center;
    color: white;
    background: black;
    opacity: 0.8;
    padding: 3px 0 3px 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0 0 10px #000;
}

#footer {
    height: 150px;
}



/*.nav a{*/
    /*font-weight: bold;*/
    /*color: #000000;*/
/*}*/

/*#footer img {*/
    /*margin: auto 20px;*/
    /*width: 96%;*/
/*}*/

/*use DD_belatedPNG to fix IE png bug*/
.png-fix{}


/*form*/
.errorlist{
    color: red;
    margin-bottom: 10px;
}

/*water-fall*/


.shadow-small {
    -webkit-box-shadow: 0 0px 4px #444;
    -moz-box-shadow: 0 0px 4px #444;
    box-shadow: 0 0px 4px #444;
}

.masonry,
.masonry .masonry-brick {
    -webkit-transition-duration: 0.7s;
    -moz-transition-duration: 0.7s;
    -ms-transition-duration: 0.7s;
    -o-transition-duration: 0.7s;
    transition-duration: 0.7s;
}

.masonry {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

.masonry .masonry-brick {
    -webkit-transition-property: left, right, top;
    -moz-transition-property: left, right, top;
    -ms-transition-property: left, right, top;
    -o-transition-property: left, right, top;
    transition-property: left, right, top;
}
/*#page_nav {clear: both; text-align: center; }*/

#infscr-loading {
    text-align: center;
    z-index: 100;
    position: fixed;
    left: 45%;
    bottom: 40px;
    width: 200px;
    padding: 10px;
    background: black;
    opacity: 0.8;
    color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}



.speech-outer {
    margin-top: 10px;
    float: left;
    position: relative;
    margin-left: 7px;
    width: 300px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.speech-arrow {
    width: 15px;
    height: 15px;
    background: #D5D5D5;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    left: 45px;
    top: -5px;
}

.speech-inner {
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    background: #D5D5D5;
    text-align: left;
    font-size: 120%;
    line-height: 130%;
    overflow: hidden;
}

.shadow {
    -webkit-box-shadow: 0 0px 5px #444;
    -moz-box-shadow: 0 0px 5px #444;
    box-shadow: 0 0px 5px #444;
}


#restaurant-location {
    color: #444;
}

a.restaurant-name {
    font-size: 13px;
    color: black;
    text-decoration: underline;
}


/*.sidebar {*/
    /*float: right;*/
    /*width: 250px;*/
    /*margin: 10px 0 10px 0;*/
    /*display: inline;*/
/*}*/

/*.sidebar-box {*/
    /*border: 1px solid #ccc;*/
    /*padding: 1px;*/
    /*background: #ffffff;*/
    /*margin-bottom: 20px;*/
/*}*/

/*.sidebar-box-title {*/
    /*background: #EEE;*/
    /*padding: 7px;*/
    /*font-weight: bold;*/
/*}*/

/*.sidebar-box-inner {*/
    /*padding: 1px 7px;*/
    /*line-height: 130%;*/
/*}*/

/*.sidebar-box-inner a {*/
    /*color: #20538c;*/
/*}*/

/*.sidebar-box-inner p {*/
    /*color: #333;*/
    /*margin: 10px 0;*/
    /*padding-left: 5px;*/
/*}*/

/*.sidebar-box-inner img {*/
    /*margin: 0 5px 5px 0;*/
/*}*/

/*#faq .sidebar-box-inner a {*/
    /*display: block;*/
    /*margin: 10px 0;*/
/*}*/

/*#faq .sidebar-box-inner p {*/
    /*display: none;*/
/*}*/

.error{
    margin: auto auto;
    width: 800px;
    padding: 40px;
}

.error h3{
    text-align: center;
    font-weight: normal;
    font-size: 16px;
}

ul.dropdown-menu{
    min-width: 100px;
}

.btn-book{
    font-size: 30px;
    line-height: 45px;
    width: 80%;
    margin: 10px;
    /*border-bottom: 3px solid #245237;*/
}