#main-container{
    margin-top: 40px;;
}

.avatar img{
}

.avatar h1{
    text-align: center;
    font-size: 18px;
}
.avatar a.edit-avatar{
    display: block;
    margin-left: 50px;
    margin-top: 15px;
}


/*.form-horizontal .control-label {*/
    /*width: 68px;*/
/*}*/
/*.form-horizontal .controls {*/
    /*margin-left: 83px;*/
/*}*/

#id_birthday_year,#id_birthday_month,#id_birthday_day
{
    margin-right: 1px;
}

.controls .errorlist
{
    display: inline-block;
    list-style: none outside none;
    margin-left: 0;
}

.nickname.control-group  .controls .errorlist
{
    margin-left: 10px;
    margin-top: 0px;
}

.controls textarea {
    height: auto;
    resize: none;
}

.control-group.gender .errorlist{
    padding-top: 5px;
    margin: 0 0 0 226px;
    vertical-align: middle;
}

#id_avatar, .file-upload {
    position: absolute;
    z-index: 2000;
    opacity: 0;
    margin-left: -1000px;
}

#id_upload_form img {
    max-width: none;
}

#id_cropping {
    display: none;
}

{#        #id_upload_form {#}
{#            width: 755px;#}
{#            margin-left: 125px;#}
{#        }#}

#cropping-area {
    width: 360px;
}

#preview_area {
}

div.buttons {
    clear: left;
    float: right;
    margin-right: 103px;
    margin-top: 20px;
}

#id_choose_avatar {
    margin-right: 26px;
}


.preview-container {
    overflow: hidden;
}

#cropping-tip {
    color: #ff471d;
}

#preview_big_container {
    width: 220px;
    height: 220px;
    margin-top: 20px;
}

#preview_middle_container {
    height: 140px;
    margin-top: 20px;
    width: 140px;
}

#preview_small_container {
    width: 60px;
    height: 60px;
    margin-top: 20px;
}
