.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="text"],
input[type="password"],
input[type="email"] {
  color: #333;
  font-size: 13px;
  height: 25px;
  border: 1px solid #CCC;
  padding: 0;
  text-indent: 5px;
  -webkit-box-shadow: inset #eeeeee 2px 3px 3px;
  -moz-box-shadow: inset #eeeeee 2px 3px 3px;
  box-shadow: inset #eeeeee 2px 3px 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
input[type="text"].cart_day {
  width: 120px;
  background: whiteSmoke url("../img/date-pickker-icon.png") no-repeat 12px center;
  margin-bottom: 5px;
  padding: 6px 15px 6px 40px;
  cursor: pointer;
  color: #666;
  box-shadow: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 14px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.button,
.btn-order,
.btn-signup,
.btn-login,
.btn-create-meal {
  text-decoration: none;
  color: white;
  padding: 7px 18px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 14px;
  font-style: normal;
  background: #446D9C;
  display: inline-block;
  text-align: center;
  text-shadow: 0 1px 2px black;
  border: 1px solid #2F3C5C;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 5px #444444;
  -moz-box-shadow: 0 0 5px #444444;
  box-shadow: 0 0 5px #444444;
}
.button:hover,
.btn-order:hover,
.btn-signup:hover,
.btn-login:hover,
.btn-create-meal:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#2c496b), to(#28415e));
  color: white;
}
