/*TODO remove height*/

#meal-container {
    margin-bottom: 15px;
    padding-bottom: 15px;
}

#users {
    margin-right: -10px;
}

.box-seperator {
    border-bottom: 1px solid #bbb;
}

#meal-main {
    float: left;
    /*width: 686px;*/
    /*border-right: 1px solid #BBB;*/
    padding-right: 12px;
    margin-right: -1px;
    margin-top: 10px;
}

#meal-grub {
    text-align: center;
    float: left;
    margin: 0 12px 0 0;
    width: 275px;
    background: white;
    border: 1px solid #BBB;
}

#meal-img-wrapper {
    border: 1px solid #DDD;
    float: left;
    position: relative;
}

#meal-img-wrapper img {
    border: 4px solid white;
    height: 255px;
}

.sidebar {
    float: right;
    width: 250px;
    padding: 0 0 9px 9px;
    border-left: 1px solid #BBB;
}


.faq b {
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 115%;
    color: #20538C;
    text-transform: uppercase;
}

.faq p {
    margin-top: 4px;
    margin-bottom: 10px;
    color: #444;
    padding-left: 5px;
    line-height: 130%;
}

#title {
    position: relative;
    margin-bottom: 15px;
    padding-bottom: 10px;
    zoom:1;
}

#desc {
    margin-bottom: 20px;
    font-size: 12px;
}

.user-wrapper {
    float: left;
    /*width: 208px;*/
    /*height: 240px;*/
    padding: 7px 5px;
    margin-left: 8px;
    margin-bottom: 10px;
    /*border: 1px solid #DDD;*/
    background: white;
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-align: center;
}

.user-wrapper:hover {
    /*border: 1px solid #bbb;*/
    /*-webkit-box-shadow: inset 0 0 6px #ddd;*/
}

#title h1 {
    margin-bottom: 10px;
    font-size: 190%;
    text-align: left;
    font-weight: bold;
}

a.map {
    text-decoration: none;
    font-family: helvetica, arial, sans-serif;
    font-style: normal;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 100%;
    background: -moz-linear-gradient(top, white 0%, #DDD 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #DDD));
    background: -webkit-linear-gradient(top, white 0%, #DDD 100%);
    background: -o-linear-gradient(top, white 0%, #DDD 100%);
    background: -ms-linear-gradient(top, white 0%, #DDD 100%);
    background: linear-gradient(top, white 0%, #DDD 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#dddddd', GradientType = 0);
    color: #333;

    float: none;
    display: inline;
    text-decoration: none;
    border: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    background: #CCC;
    color: #333;
    font-weight: normal;
    text-shadow: none;
    padding: 3px 7px;
    margin-left: 5px;
}

#creator {
    display: block;
    float: right;
    padding: 11px 6px;
    border: 1px solid #CCC;
    background: #EEE;
    color: #444;
    font-size: 110%;
    vertical-align: middle;
}

.host-name {
    float: left;
    padding-right: 37px;
}

#creator:hover {
    border: 1px solid #bbb;
    -webkit-box-shadow: inset 0 0 6px #bbb;
}

#creator img {
    position: absolute;
    margin-left: 5px;
    top: 5px;
    right: 5px;
}
.what-is-fanju {
    display: block;
    float: left;
    text-align: left;
    padding: 11px;
    background: #F7FF69;
    margin-bottom: 12px;
    font-size: 120%;
    line-height: 140%;
}

.date {
    border-bottom: 0;
    font-size: 146%;
    font-weight: bold;
    color: #333;
    padding-bottom: 10px;
    display: block;
    width: 90%;
    margin: 10px auto auto;
}

.price {
    font-size: 146%;
    font-weight: bold;
}

.show-menu {
    font-size: 146%;
    font-weight: bold;
    color: #20538C;
}

#users{
    width:100%;
}

#users h1 {
    margin-bottom: 8px;
    font-size: 1.6em;
    font-weight: bold;
}

h3.name {
    font-size: 165%;
    display: block;
}

.work {
    height: 13px;
    color: #444;
    display: block;
    margin-bottom: 10px;
    margin-left: 10px;
}

img.user-pic {
    /*margin: auto;*/
    /*border: 2px solid white;*/
    /*box-shadow: 0 0 4px #444;*/
    width: 100px;
    height: 100px;
}

.speech-outter {
    margin: 10px 9px 12px 0;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 193px;
    border: 1px solid #CCC;
    float: right;
}

.speech-arrow {
    width: 15px;
    height: 15px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    background: #E5E5E5;
    left: -5px;
    top: 6px;
}

.speech-inner {
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    text-align: left;
    font-size: 120%;
    line-height: 130%;
    overflow: hidden;
    background: #E5E5E5;
    margin-top: -2px;
}

#menu-popup.ui-widget-content {
    background-color: white;
}

#menu-popup .ribbon-menu {
    position: relative;
    width: 400px;
    height: 41px;
    margin-top: 10px;
    background: #8DC641;
    margin-left: 4px;
    -webkit-box-shadow: inset 41px 0 19px -38px rgba(0, 0, 0, 0.6);
}

#menu-popup .ribbon-right {
    width: 15px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -15px;
    background: url("https://d1gwxpes5z0r7f.cloudfront.net/assets/twopointoh/ribbons/green_ribbon_right-8bcf780b22c077dbe61e227fecf905d1.gif") no-repeat;
}

#menu-popup .ribbon-title {
    position: relative;
    top: 10px;
    text-transform: none;
    font-size: 20px;
    padding: 0 30px 0 30px;
    color: white;
    font-family: georgia, serif;
    font-style: italic;
}

#menu-popup .content {
    padding: 5px 30px 0 30px;
    font-size: 15px;
    color: #666;
    /*width: 500px;*/
}

#menu-popup .content h3 {
    color: #222;
    font-size: 16px;
    padding: 10px 0 5px 0;
    font-style: normal;
    clear: right;
}

#menu-popup .content  p {
    margin-top: 0;
    font-size: 14px;
    padding-left: 5px;
    clear: right;
}

.dish-pic {
    float: left;
    clear: left;
    width: 55px;
}

.dish-content {
    width: 400px;
    float: left;
}

dt.category{
    width: 240px;
    padding: 10px 0;
    font-size: 15px;
    font-weight: bold;
    line-height: 18px;
}

dd.dish{
    width: 230px;
    padding: 0 0 5px 7px;
    font-size: 14px;
    line-height: 18px;
}

.dish-info{
    float:right;
}
.dish-info .num{
    margin-right: 5px;
}

#menu .sidebar-box-title {
    background-color: #57D62D;
    color: white;
}