#meal-img-wrapper {
    border: 1px solid #DDD;
    width: 385px;
    margin-left: 30px;
}
#meal-img-wrapper img {
    border: 4px solid white;
}

.addlink,.changelink,.dellink{
    padding-left: 12px;
}

.addlink{
    background: url(../img/icon_addlink.gif) 0 4px  no-repeat;
}
.changelink{
    background: url(../img/icon_changelink.gif) 0 4px  no-repeat;
}
.dellink{
    background: url(../img/icon_deletelink.gif) 0 4px  no-repeat;
}

#dish-list td{
    padding-left: 10px;
    padding-right: 10px;
}

#dish-list .tc{
    text-align: center;
}

#dish-list .tr{
    text-align: right;
}
/*html {*/
    /*background: white url("../img/site-bg.jpg") repeat-x fixed top center;*/
/*}*/

/*#header{*/
    /*margin: 20px 2px 25px;*/
    /*padding-bottom: 10px;*/
    /*border-bottom: 1px solid #aaa;*/
/*}*/

/*.container{*/
    /*background-color: #fff;*/
    /*height: 500px;*/
    /*padding: 10px;*/
/*}*/