{% extends "base.html" %}
{% load static_asset %}
{% load static from staticfiles %}{% load assets %}
{% block title %}{{ meal.topic }}{% endblock %}
{% block page_css %}
    {{ block.super }}
    {% assets "meal_css" %}
        <link href="{% static_asset ASSET_URL %}" media="screen" rel="stylesheet" type="text/css">
    {% endassets %}
{% endblock %}
{#{% block active-nav-id %}nav-meal{% endblock %}#}
{% block content %}
    <div id="meal-detail" class="span9">
        <div id="title" class="box-seperator">

            <h1>{{ meal.topic }}</h1>
                <span id="restaurant-location">在 <a
                        class="restaurant-name">{{ meal.menu.restaurant.name }}</a> {{ meal.menu.restaurant.address }}   </span>
           <span class="date fr">{{ meal.start_date|date:"n" }}月{{ meal.start_date|date:"j" }}日 {{ meal.start_date|date:"D" }}
                    {{ meal.start_time|date:"G:i " }}</span>
        </div>
        <p id="desc">{{ meal.introduction }}</p>

        <div id="meal-container" class="clearfix box-seperator">
            <div id="meal-img-wrapper">
                <img alt="{{ meal.topic }}" id="meal-photo"
                     src="{{ meal.get_cover_url }}"
                     width="420" height="280">
            </div>
            <div id="meal-grub">
                {% if not request.user.get_profile in meal.participants.all %}
                    <a href="{% url create_order meal.id %}"
                       class="btn btn-primary btn-book fr">
                        马上预定
                        {#                        <span class="mt5">{{ meal.list_price }}RMB/人</span>#}
                    </a>
                {% else %}
                    <a href="#"
                       class="btn btn-primary btn-book fr">
                        已预定
                    </a>
                {% endif %}

            </div>

        </div>
        <div id="users" class="clearfix">
            {% if meal.actual_persons %}
                <h3>还剩<strong>{{ meal.left_persons }}<strong/>个空位</h3>
            {% else %}
                <h3>现在还没有人参加饭局，赶快预定吧！</h3>
            {% endif %}
            <ul class="thumbnails">
                {% for user in meal.participants.all %}
                    <li class="user-wrapper span2">
                        {#                    <h3 class="name">{{ user.user.username}}</h3>#}

                        {#                    <p class="work">{{ user.occupation|default:"" }}</p>#}
                        <a href="" class="thumbnail">
                            <img alt="{{ user.user.username }}" class=" user-pic" width="140"
                                 height="140"
                                 src="{{ user.normal_avatar }}">
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% comment %}  <div style="display: none">
        <div id="menu-popup">
            <div id="menu-container">
                <div class="ribbon ribbon-menu ribbon-notail">
                    <div class="ribbon-right"></div>
                    <div class="ribbon-title">
                        Entrees&nbsp;
                    </div>
                </div>

                <div class="content italic clearfix">
                    {% for dish in meal.order.dishes.all %}
                        <div class="dish-pic"><img src="{{ dish.pic }}" width="50" height="50"></div>
                        <div class="dish-content"><h3>{{ dish.name }}</h3></div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar fr">

        <div id="menu" class="menu sidebar-box">
            <div class="sidebar-box-title">菜单 {{ meal.menu.name|default:"8人套餐 40元/人" }}</div>
            <div class="sidebar-box-inner">
                <div id="menu-info" class="">
                    {#                            <div class="title">#}
                    {#                                <div class="menu-name">{{ menu.name|default:"8人套餐 40元/人" }}</div>#}
                    {#                            </div>#}

                    <dl class="menu-items">
                        {% for item in meal.menu.items %}
                            {% if item.num %}
                                <dd class="dish"><span class="dish-name">{{ item.dish.name }}</span>
                                <span class="dish-info"> <span class="dish-price">{{ item.dish.price }} 元</span><span
                                        class="unit"> /{{ item.dish.unit }} &times; </span><span
                                        class="num">{{ item.num }}</span> </span>
                                </dd>
                            {% else %}
                                <dt class="category">{{ item.category.name }}  </dt>
                            {% endif %}
                        {% endfor %}
                    </dl>
                </div>
            </div>
        </div>
{#        {% include "support/faq_sidebar.html" %}#}
    </div>{% endcomment %}
{% endblock %}

{% block page_js %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#faq .sidebar-box-inner a").click(function () {
                var $next = $(this).next("p");
                var speed = 100;
                if ($next.is(":visible")) {
                    $(this).next("p").slideUp(speed);
                } else {
                    $(this).siblings("p:visible").slideUp(speed);
                    $(this).next("p").slideDown(speed);
                }
            })
        })
    </script>
{% endblock %}