{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{ city|default:"杭州" }}的饭局{% endblock %}
{% block main %}
    <div id="meal-list-city"><h1>{{ city|default:"杭州" }}的饭局</h1></div>
    <div id="meal-list">
        {% for meal in meal_list %}
            <div class="meal-cell">
                <div class="meal-cell-title"><h2>{{ meal.topic }}</h2></div>
                <div class="meal-img-wrapper">
                    <a><img width="376px" height="210px" src="{{ meal.photo.url }}"></a>
{#                            src="{{ STATIC_URL }}{{ meal.photo }} "></a>#}

                    <div class="date-wrapper">
                        <span class="month">{{ meal.time|date:"n" }}月</span>
                        <span class="day-num">{{ meal.time|date:"d" }}</span>
                        <span class="day-text">{{ meal.time|date:"D" }}</span>
                    </div>
                    <div class="time">{{ meal.time|date:"G:i " }}</div>
                </div>
                <div class="meal-info">
                    <div class="meal-location"><span>Mission</span></div>
                    <div class="org">
                        <img width="376px" height="210px" alt="Social San Francisco"
                             src="https://s3.amazonaws.com/grub_group_pics/574/small/Social-Grubbing-Logo.jpg?1335768778"
                                >
                        <span>Social San Francisco</span></div>
                    <p class="org-info">{{ meal.introduction }}</p>
                    <a href="/meals/cafe-gratitude-99635020d87a?_track=listing_clicked&amp;banner=large-event-button">加入饭局</a>
                </div>
                <div class="clear-fix"></div>
            </div>
            <div class="meal-cell-shadow">
            </div>
        {% endfor %}
    </div>

    <div class="sidebar">
        <div id="faq" class="sidebar-box">
            <div class="sidebar-box-title">FAQ</div>
            <div class="sidebar-box-inner">
                <a>What is Grubwithus?</a>

                <p>Grubwithus is a social dining network that brings individuals together at great restaurants. Meet new
                    people, maintain old friendships and have fun social meal experiences!</p>
                <a>How does it work?</a>

                <p>You book individual reservations for the meals you want to attend and prepay online. The meal price,
                    tax and gratuity are included, so you just show up to the meal, have a great dinner, and leave with
                    new friends! Any drinks you order at the restaurant will be separately paid by you at the end of the
                    meal.</p>
                <a class="hidden">What happens if less than 4 people reserve a meal?</a>

                <p class="hidden">Your credit card is not charged until 4 or more people reserve the meal. If, on the
                    day of the meal, less than 4 people have reserved, the meal will be cancelled.</p>
                <a class="hidden">Why does the meal price increase per reservation?</a>

                <p class="hidden">We reward you for booking early! The meal price increases as demand increases.</p>

                <div class="hidden">
                    <a>Are there refunds?</a>

                    <p style="display: none; ">Like any sporting event or concert, all sales are final. You can,
                        however, transfer your ticket to anyone at anytime.</p>
                    <a>What about dietary restrictions?</a>

                    <p>Each restaurant tries to make its menu as veggie friendly as possible, but if you have dietary
                        restrictions, please check the meal's menu before reserving. </p>
                    <a>How are meals created?</a>

                    <p>Most meals are created by our users or dining groups! </p>
                    <a>Why do some meals have restaurants that aren't visible?</a>

                    <p>Our main goal is to build and maintain friendships, with food being a very tasty benefit. You'll
                        always know the restaurant's neighborhood, but to prevent restaurant cancellations, we usually
                        add a partner restaurant only when the meal tips. Rest assured that you'll always enjoy a good
                        meal with new friends!</p>

                </div>
            </div>
        </div>
        <div id="recently-grubbed" class="sidebar-box">
            <div class="sidebar-box-title">Recently Grubbed</div>
            <div class="sidebar-box-inner">
                <a href="/users/rebecca-fleming-947a466e2319"><img alt="Rebecca Fleming"
                                                                   src="https://s3.amazonaws.com/grub_user_pics/14387/thumb/48990_127_7977_n.jpg?1309917037"
                                                                   width="50px" height="50px"></a>
                <a href="/users/benguild"><img alt="Ben Guild"
                                               src="https://s3.amazonaws.com/grub_user_pics/22941/thumb/2011avatar_l.jpg?1326412555"
                                               width="50px" height="50px"></a>
                <a href="/users/rob-kwok-9388eddc317c"><img alt="Rob Kwok"
                                                            src="https://s3.amazonaws.com/grub_user_pics/22031/thumb/100_0471.JPG?1326043786"
                                                            width="50px" height="50px"></a>
                <a href="/users/katsuya-noguchi-290c225a1e7e"><img alt="Katsuya Noguchi"
                                                                   src="https://s3.amazonaws.com/grub_user_pics/28374/thumb/ebbf868d7b8cc864af9ddf828e3c777a-IMG_0025.jpg?1329692562"
                                                                   width="50px" height="50px"></a>
                <a href="/users/joe-masciocco-aad267521659"><img alt="Joe Masciocco"
                                                                 src="https://s3.amazonaws.com/grub_user_pics/17199/thumb/Grub%20Pic.png?1314989835"
                                                                 width="50px" height="50px"></a>
                <a href="/users/lauraigomez"><img alt="Laura Gómez"
                                                  src="https://s3.amazonaws.com/grub_user_pics/12991/thumb/mememme.jpeg?1307811260"
                                                  width="50px" height="50px"></a>
                <a href="/users/jenny-ng-824a6f060aa2"><img alt="Jenny N"
                                                            src="https://s3.amazonaws.com/grub_user_pics/11272/thumb/Photo%2029.jpg?1306726017"
                                                            width="50px" height="50px"></a>
                <a href="/users/keith-erwood-a61e92a1c9d06e0b2d69"><img alt="Keith Erwood"
                                                                        src="https://s3.amazonaws.com/grub_user_pics/38791/thumb/Keith%20Headshot.JPG?1336056383"
                                                                        width="50px" height="50px"></a>
                <a href="/users/elizabeth-knopf"><img alt="Elizabeth Knopf"
                                                      src="https://s3.amazonaws.com/grub_user_pics/2517/thumb/2517_pic20110521-1-1ncdlcb-0.?1306013138"
                                                      width="50px" height="50px"></a>
                <a href="/users/andrew-ritter-bffbde4c432ca6d3af3d"><img alt="Andrew Ritter"
                                                                         src="https://s3.amazonaws.com/grub_user_pics/33829/thumb/33829_pic20120412-16-1d1epfd.?1334273756"
                                                                         width="50px" height="50px"></a>
                <a href="/users/ben-323-361a95623eef"><img alt="Ben Davidow"
                                                           src="https://s3.amazonaws.com/grub_user_pics/27070/thumb/me323.jpg?1327772462"
                                                           width="50px" height="50px"></a>
                <a href="/users/mika-kasumov-76a9edc2ed43"><img alt="Mika Kasumov"
                                                                src="https://s3.amazonaws.com/grub_user_pics/10377/thumb/10377_pic20110521-1-ims2vh-0.?1306011622"
                                                                width="50px" height="50px"></a>
            </div>
        </div>
        <div id="create-a-meal" class="sidebar-box">
            <div class="sidebar-box-title">Don't see a meal you like?</div>
            <div class="sidebar-box-inner">
                <form accept-charset="UTF-8" action="/create-a-meal" method="get">
                    <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>
                    <input class="cart_day hasDatepicker" id="cart_day" name="cyo[day]" readonly="readonly" size="30"
                           type="text" value="May 15, 2012">

                    <div class="dk_container dk_theme_default" id="dk_container_cart_time" tabindex=""
                         style="display: block; "><a class="dk_toggle"><span class="dk_label">7:00 PM</span></a>

                        <div class="dk_options hidden">
                            <ul class="dk_options_inner ">
                                <li class=""><a data-dk-dropdown-value="07:00">7:00 AM</a></li>
                                <li class=""><a data-dk-dropdown-value="07:30">7:30 AM</a></li>
                                <li class=""><a data-dk-dropdown-value="08:00">8:00 AM</a></li>
                                <li class=""><a data-dk-dropdown-value="08:30">8:30 AM</a></li>
                                <li class=""><a data-dk-dropdown-value="09:00">9:00 AM</a></li>
                                <li class=""><a data-dk-dropdown-value="09:30">9:30 AM</a></li>
                                <li class=""><a data-dk-dropdown-value="10:00">10:00 AM</a></li>
                                <li class=""><a data-dk-dropdown-value="10:30">10:30 AM</a></li>
                                <li class=""><a data-dk-dropdown-value="11:00">11:00 AM</a></li>
                                <li class=""><a data-dk-dropdown-value="11:30">11:30 AM</a></li>
                                <li class=""><a data-dk-dropdown-value="12:00">12:00 PM</a></li>
                                <li class=""><a data-dk-dropdown-value="12:30">12:30 PM</a></li>
                                <li class=""><a data-dk-dropdown-value="13:00">1:00 PM</a></li>
                                <li class=""><a data-dk-dropdown-value="13:30">1:30 PM</a></li>
                                <li class=""><a data-dk-dropdown-value="14:00">2:00 PM</a></li>
                                <li class=""><a data-dk-dropdown-value="14:30">2:30 PM</a></li>
                                <li class=""><a data-dk-dropdown-value="15:00">3:00 PM</a></li>
                                <li class=""><a data-dk-dropdown-value="15:30">3:30 PM</a></li>
                                <li class=""><a data-dk-dropdown-value="16:00">4:00 PM</a></li>
                                <li class=""><a data-dk-dropdown-value="16:30">4:30 PM</a></li>
                                <li class=""><a data-dk-dropdown-value="17:00">5:00 PM</a></li>
                                <li class=""><a data-dk-dropdown-value="17:30">5:30 PM</a></li>
                                <li class=""><a data-dk-dropdown-value="18:00">6:00 PM</a></li>
                                <li class=""><a data-dk-dropdown-value="18:30">6:30 PM</a></li>
                                <li class="dk_option_current"><a data-dk-dropdown-value="19:00">7:00 PM</a></li>
                                <li class=""><a data-dk-dropdown-value="19:30">7:30 PM</a></li>
                                <li class=""><a data-dk-dropdown-value="20:00">8:00 PM</a></li>
                                <li class=""><a data-dk-dropdown-value="20:30">8:30 PM</a></li>
                                <li class=""><a data-dk-dropdown-value="21:00">9:00 PM</a></li>
                                <li class=""><a data-dk-dropdown-value="21:30">9:30 PM</a></li>
                                <li class=""><a data-dk-dropdown-value="22:00">10:00 PM</a></li>
                                <li class=""><a data-dk-dropdown-value="22:30">10:30 PM</a></li>
                            </ul>
                        </div>
                    </div>
                    <input name="commit" type="submit" value="Create a Meal!">
                </form>
            </div>
        </div>
    </div>

{% endblock %}