{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{ city|default:"杭州" }}的饭局{% endblock %}
{% block page_css %}
    <link href="{{ STATIC_URL }}css/base.css" media="screen" rel="stylesheet" type="text/css"/>
    <link href="{{ STATIC_URL }}css/meal-detail.css" media="screen" rel="stylesheet" type="text/css"/>
    {#    <link href="{{ STATIC_URL }}css/ui/jquery-ui-1.8.20.custom.css" media="screen" rel="stylesheet" type="text/css">#}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/colorbox.css" media="screen" rel="stylesheet" type="text/css"/>
    <style type="text/css">
            /* .ui-widget-overlay {
                background-color: #222;
                opacity: .90;
                filter: Alpha(Opacity = 90);
                cursor: pointer;
            }

            .ui-dialog {
                padding: 0;
            }

            .ui-dialog-titlebar {
                display: none;
            }*/
        #cboxOverlay{
            background-color: #222;
        }
    </style>
{% endblock %}
{% block page_js %}
    {#    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.20.custom.min.js"></script>#}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.colorbox-min.js"></script>
    <script type="text/javascript">
        $(function () {


                        $("#show-menu-link").click(function () {
             $.colorbox({inline:true, href:"#menu-popup", width:500,close:""});
             return false;
             })
          /*  var $menuDialog = $("#menu-popup").dialog({
                modal:true,
                autoOpen:false,
                width:450,
                minHeight:800,
                resizable:false
            });
            $(".ui-widget-overlay").live("click", function () {
                $menuDialog.dialog("close");
            });
            $("#show-menu-link").click(function () {
                $menuDialog.dialog("open");
            })*/
        })
    </script>
{% endblock %}
{% block main %}
    <div id="meal-page">
        <div id="meal-main">
            <div id="title" class="box-seperator">
                <a id="creator" href="/host">
                    <span class="host-name">由 {{ meal.host.user.username }} 发起</span>
                    <img alt="Los Angeles Entrepreneurs" height="30"
                         src="https://s3.amazonaws.com/grub_group_pics/344/small/entrepreneur_logo.png?1336411246"
                         width="30">
                </a>

                <h1>{{ meal.topic }}</h1>
                <span id="resturant-location">在 <a
                        class="resturant-name">{{ meal.restaurant.name }}</a> {{ meal.restaurant.address }} <a
                        class="map">地图</a> </span>
            </div>
            <div id="desc">
                {{ meal.introduction }}
            </div>
            <div id="meal-container" class="box-seperator">
                <div id="meal-grub">
                    <a href="/meals/network-mingle-vent-92bd06d7eba5/reservations/new?_track=purchase_button_clicked&amp;banner=standard-reserve-button"
                       class="reserve-button">
                        马上预定
                        <span>{{ meal.list_price }}RMB/人</span>
                    </a>

                    <div class="what-is-fanju">
                        你可以可以在享受美味的同时，认识有着相同兴趣的新朋友!<br>
                    </div>
                    <span class="date">{{ meal.time|date:"n" }}月{{ meal.time|date:"j" }}日 {{ meal.time|date:"D" }}
                    <br/>{{ meal.time|date:"G:i " }}</span>
                    <a href="#" id="show-menu-link" class="show-menu">查看菜单</a>
                </div>
                <div id="meal-img-wrapper">
                    <img alt="{{ meal.topic }}" id="meal-photo"
                         src="{{ meal.photo.url }}"
                         width="385px">
                </div>
                <div class="clear-fix"></div>
            </div>
            <div id="users">
                {% if meal.actual_persons %}
                    <h1>参加饭局的的朋友（还有{{ meal.left_persons }}个空位）：</h1>
                {% else %}
                    <h1>现在还没有人参加饭局，赶快预定吧！</h1>
                {% endif %}
                {% for user in meal.participants.all %}
                    <div class="user-wrapper">
                        <h3 class="name">{{ user.user.username }}</h3>
                        <span class="work">{{ user.occupation|default:"" }}</span>
                        <a href=""><img alt="{{ user.user.username }}" class="user-pic" height="110"
                                        src="/media{{ user.avatar_default_if_none }}"
                                        width="110"></a>

                        <div class="speech-outter">
                            <div class="speech-arrow"></div>
                            <div class="speech-inner">我是第一次参加饭局，很好哦，享受美味的同时还可以认识些志同道合的朋友！这个是什么消息？</div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
        <div style="display: none">
            <div id="menu-popup">
                <div id="menu-container">
                    <div class="ribbon ribbon-menu ribbon-notail">
                        <div class="ribbon-right"></div>
                        <div class="ribbon-title">
                            Entrees&nbsp;
                        </div>
                    </div>

                    <div class="content italic">
                        {% for dish in meal.order.dishes.all %}
                            <div class="dish-pic"><img src="{{ dish.pic }}" width="50" height="50"></div>
                            <div class="dish-content"><h3>{{ dish.name }}</h3></div>
                        {% endfor %}
                        <div class="clear-fix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar">
            <div class="faq">
                <b>What is Grubwithus?</b>

                <p>Grubwithus is a social dining network that brings people together over delicious food. It's not just
                    about the food or the people, though - it's about making new friends and forming lasting offline
                    relationships.</p>
                <b>How does this work?</b>

                <p>It's easy - just book a seat at this meal. On the day of the meal, you just show up, enjoy a great
                    dinner (usually family-style), and leave with new friends.</p>
                <b>Cancellation Policy</b>

                <p>We get it - plans change, emergencies pop up. You can cancel a reservation up until 72 hours before
                    the schedule date and time of the meal for full Grub Credit. Feel free to email us at
                    info@grubwithus.com or call the Grubwithus Hotline at 1-888-478-2857, and we'll take care of it.</p>
                <b>Meet awesome people</b>

                <p>Grubwithus is thriving with all sorts of interesting people. You might meet successful entrepreneurs,
                    aspiring actors, world travelers, business moguls, authors... there's only one way to find out!</p>
                <b>Hassle-free pricing</b>

                <p>Your Grubwithus purchase includes food, tax, and gratuity. Drinks can be purchased separately at the
                    meal.</p>
                <b>Book early to save</b>

                <p>Book early to save money! With each reservation, the meal price increases.</p>
            </div>
        </div>
    </div>
{% endblock %}