{% extends "base.html" %}
{% load bootstrap_tags %}
{% load static_asset %}
{% load static from staticfiles %}{% load assets %}
{% block title %}创建圈子{% endblock %}
{% block page_css %}
    {{ block.super }}
    {% assets "bootstrap_css" %}
        <link href="{% static_asset ASSET_URL %}" media="screen" rel="stylesheet" type="text/css">
    {% endassets %}
    <style type="text/css">
        .error {
            margin: auto auto;
            width: auto;
            padding: 0px;
        }

        #edit_group_title {
            text-align: center;
            width: 600px;
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 21px;
            color: #222;
        }
    </style>
{% endblock %}

{% block page_js %}
    {% assets "jquery_ajax_bootstrap_js" %}
        <script type="text/javascript" src="{% static_asset ASSET_URL %}"></script>
    {% endassets %}
{% endblock %}
{% block active-nav-id %}nav-group{% endblock %}

{% block content %}
    <div id="edit_group_title">修改信息</div>
    <form id="id_create_group_form" action="{{ request.path }}" method="post"
          class="ajax form-horizontal"> {% csrf_token %}
        {{ form|as_bootstrap }}
        <div class="form-actions">
            <input type="submit" class="button" value="确定"/>
        </div>
    </form>
{% endblock %}