{% extends "base.html" %}
{% load static from staticfiles %}
{% load static_asset %}
{% load assets %}
{% block title %}在{{ city|default:"杭州" }}的圈子{% endblock %}
{% block page_js %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("select.pretty").dropkick( );
        })
    </script>
{% endblock %}
{% block content %}
    <h1>圈子列表页面</h1> <br/>
    <a class="button" href="{% url create_group %}">创建圈子</a>

{% endblock %}

{% block active-nav-id %}nav-group{% endblock %}