{% extends "base.html" %}
{% load static_asset %}
{% load static from staticfiles %}{% load assets %}
{% block title %}{{ group.name }}{% endblock %}
{% block active-nav-id %}nav-group{% endblock %}


{% block page_css %}
    {{ block.super }}
    {% assets "group_detail_css" %}
        <link href="{% static_asset ASSET_URL %}" media="screen" rel="stylesheet" type="text/css">
    {% endassets %}
    <style type="text/css">

        #div_id_logo .controls label {
            margin-left: 15px;
            margin-top: 5px;
        }

        #logo-clear_id {
            display: block;
            float: left;
            margin-top: 8px;
        }

        #id_logo {
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
        }

        form, .form-actions {
            margin-bottom: 0;
        }

        .form-horizontal .control-label {
            width: 60px;
        }

        .form-horizontal .controls {
            margin-left: 80px;
        }

        #div_id_logo {
            margin-top: 10px;
        }


    </style>

{% endblock %}
{% block content %}

    <div id="banner-wrapper">
        <div id="banner" class="shadow">
            <img class="fl" src="{{ group.logo_url_default_if_none }}" alt="{{ group.name }}" width="96" height="96">
            {% if user == group.owner %}
                <a href="{% url 'edit_group_logo' group.id %}" id="id_edit_logo_link" class="edit-link">
                    <img alt="修改" src="{% static "img/edit_pencil.png" %}">
                </a>
            {% endif %}
            <h1 class="group-name">{{ group.name }}</h1>

            {% if not user.is_authenticated or group not in user.interest_groups.all %}
                <a href="{% url 'join_group' group.id %}" id="id_join_group_link" class="button">加入圈子</a>
            {% else %}
                <a href="" id="id_invite_friend_link" class="button">邀请好友</a>
            {% endif %}
        </div>
    </div>
    <div class="left-column">
        {% if group in user.interest_groups.all %}
            {% url 'create_meal' as create_meal_url %}
            <a class="btn-create-meal" href="{{ create_meal_url }}?group={{ group.id }}">发起饭局</a>
        {% endif %}

        {% for meal in group.recent_meals %}

            <div class="meal-cell">
                <a href="{% url 'meal_detail' meal.id %} "></a>

                <img class="meal-cover" alt="{{ meal.topic }}" height="200" width="228"
                     src="{{ meal.big_cover_url }}">

                <div class="price-seat">
                    {{ meal.list_price }}元/位 - 还有{{ meal.left_persons }}个空位
                </div>
                {% with participants=meal.participants.all|slice:":5" %}
                    {% if participants %}
                        <div class="users">
                            {% for user in participants %}
                                <img alt="{{ user.username }}" width="32" height="32"
                                     src="{{ user.avatar_default_if_none }}">
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
                <div class="info">
                    <h3>{{ meal.topic }}</h3>
                    <span class="date">  {{ meal.start_date|date:"n" }}月{{ meal.start_date|date:"j" }}日 {{ meal.start_date|date:"D" }}
                        {{ meal.start_time|date:"G:i " }}</span>
                </div>
            </div>
            <hr>
        {% endfor %}

        {% if group.passed_meals %}

            <h4>已结束的饭局</h4>
            {% for meal in group.passed_meals %}

                <div class="meal-cell">
                    <a href="{% url 'meal_detail' meal.id %} "></a>

                    <img class="meal-cover" alt="{{ meal.topic }}" height="200" width="228"
                         src="{{ meal.big_cover_url }}">

                    {% comment %}<div class="price-seat">
                    {{ meal.list_price }}元/位 - 还有{{ meal.left_persons }}个空位
                </div>{% endcomment %}

                    {#            TODO只显示5个#}
                    {% with participants=meal.participants.all|slice:":5" %}
                        {% if participants %}
                            <div class="users">
                                {% for user in participants %}
                                    <img alt="{{ user.username }}" width="32" height="32"
                                         src="{{ user.avatar_default_if_none }}">
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith %}
                    <div class="info">
                        <h3>{{ meal.topic }}</h3>
                    <span class="date">  {{ meal.start_date|date:"n" }}月{{ meal.start_date|date:"j" }}日 {{ meal.start_date|date:"D" }}
                        {{ meal.start_time|date:"G:i " }}</span>
                    </div>
                </div>
            {% endfor %}

        {% endif %}

    </div>
    <div class="right-column">
        <div class="about">
            {% comment %} <h3>About Chicago 20s and 30s Grub Group (Chicago)
                </h3>{% endcomment %}


            <div class="desc">
                {{ group.desc }}
            </div>
            {% if user == group.owner %}
                <a href="{% url 'edit_group' group.id %}" class="edit-link">
                    <img alt="修改" src="{% static "img/edit_pencil.png" %}">
                </a>
            {% endif %}
            {% if group.category %}
                <div class="taglist clearfix">
                    <a href="#" class="tag">{{ group.category.name }}</a>
                </div>
            {% endif %}
        </div>
        <div class="members-wrapper">
            {% with members_count=group.members.count %}
                <h3>{{ members_count }} 位成员
                    {#                    {% if members_count > 21 %}#}
                    <a class="see-all" href="{% url 'group_member_list' group.id %}">(查看详情)</a>
                    {#                    {% endif %}#}
                    {% if group in user.interest_groups.all and user != group.owner %}
                        | <a href="{% url 'leave_group' group.id %}" id="id_leave_group_link">离开</a>
                    {% endif %}
                </h3>

                <div class="members clearfix">
                    <span class="owner">创建者</span>
                    {% for member in group.members.all|slice:":21" %}
                        <a href="" class="user-avatar" title="{{ member.username }}">
                            <img alt="{{ member.username }}" width="40" height="40"
                                 src="{{ member.avatar_default_if_none }}">
                        </a>
                    {% endfor %}
                </div>
            {% endwith %}
        </div>
        <div class="comments">
            <h3>说点什么吧！</h3>

            <div class="wrapper-for-group-comments">

                {% if not user.is_authenticated %}
                    <div class="join-to-comment">您需要登录才能加入会话！</div>
                {% elif group in user.interest_groups.all %}
                    <div class="new-comment clearfix">
                        <img alt="{{ requestr.user.username }}" width="75" height="75"
                             src="{{ user.avatar_default_if_none }}">

                        <h3>{{ user.username }}</h3>

                        <form accept-charset="UTF-8" action="{% url 'create_group_comment' %}"
                              class="add_comment_form new_comment_form"
                              id="id_add_comment_form" method="post">
                            <textarea class="tag-comment toggleval new_comment_field"
                                      name="comment" rows="3" cols="10" id="id_comment_content"
                                      style="resize: none;"></textarea>
                            <input type="hidden" name="group" value="{{ group.id }}">
                            <input type="hidden" name="from_person" value="{{ user.id }}">
                            <input class="showloading add_comment_submit button" id="id_add_comment_submit"
                                   type="submit" value="发表" style="display: none;">
                        </form>
                    </div>
                {% else %}
                    <div class="join-to-comment">您需要加入圈子后才能加入会话！</div>
                {% endif %}
                <div id="comments-wrapper">
                    {% for comment in parent_comments %}
                        {% include "group/single_comment.html" %}
                    {% endfor %}
                </div>

                {% if has_next %}
                    <div id="comments-pagination">
                        <a id="id_more_comments_link" href="{% url 'group_comment_list' group.id 2 %}">查看更多</a>
                    </div>
                {% endif %}
            </div>

        </div>
    </div>

    <div id="id_edit_logo_dialog" class="hide">

    </div>

{% endblock %}
{% block base_js %}
    {{ block.super }}
    {% assets "jquery_ui_js" %}
        <script type="text/javascript" src="{% static_asset ASSET_URL %}"></script>
    {% endassets %}
    {% assets "jquery_form_js" %}
        <script type="text/javascript" src="{% static_asset ASSET_URL %}"></script>
    {% endassets %}
{% endblock %}
{% block page_js %}
     {{ block.super }}
    <script type="text/javascript">
        function loadEditLogoPage() {
            $("#id_create_group_form").ajaxForm({
                success:function (html) {
                    var $html = $(html);
                    if ($html.is("a.auto-close") && $html.attr('href')) {
                        window.location.href = $html.attr('href');
                    } else {
                        $("#id_edit_logo_dialog").html($html.find(".content"));
                        loadEditLogoPage();
                    }
                }
            })
            $("#id_edit_logo_dialog").dialog({
                autoOpen:true,
                title:"修改Logo",
                modal:true,
                width:440,
                height:260,
                position:['center', 100],
                resizable:false
            });
            $("<br/>").insertBefore($("#logo-clear_id"));
            $("input[type=submit]").focus()
        }
        //dix should be 'div', a hack for djdebugtool
        $(document).ready(function () {

            $("#id_edit_logo_link").click(function () {
                $("#id_edit_logo_dialog").load($("#id_edit_logo_link").attr('href') + " .content", loadEditLogoPage);
                return false;
            });
            $("#id_join_group_link,#id_leave_group_link").click(function () {
                $.post($(this).attr('href'), function (data) {
                    if (data.status == "OK") {
                        window.location = '{{  request.path }}';
                    }
                });
                return false;
            })

            $("#id_comment_content").focus(function () {
                $("#id_add_comment_submit").show();
            }).focusout(function () {
                        if (!$(this).val()) {
                            $("#id_add_comment_submit").hide();
                        }
                    })

            $("#id_add_comment_form").ajaxForm({
                dataType:'json',
                {% comment %} beforeSubmit:function () {
                  if (!$("#id_comment_content").val()) {
                      $("#id_comment_content").focus();
                      return false;
                  }
              },{% endcomment %}
                success:function (data) {
                    if (data.status == "OK") {
                        var $commentHtml = $(data.comment_html);
                        var $newlyReplyTextArea = $commentHtml.find(".comment-reply-field");
                        $newlyReplyTextArea.val($newlyReplyTextArea.attr('title'))
                        $("#comments-wrapper").prepend($commentHtml);
                    }
                    $("#id_comment_content").val("")
                    $("#id_comment_content").focusout();
                }
            })
            $(".del-group-comment").live('click', function () {
                $delLink = $(this);
                $.post($delLink.attr("href"), function (data) {
                    if (data.status == "OK") {
                        var $commentToDel;
                        if ($delLink.parents(".child-comment").length) {
                            $commentToDel = $delLink.parents(".child-comment");
                        } else {
                            $commentToDel = $delLink.parents(".parent-comment");
                        }

                        $commentToDel.fadeOut(function () {
                            $(this).remove();
                        });
                    }

                }, 'json')
                return false;
            });

            $("#id_more_comments_link").live('click', function () {
                $.get($(this).attr('href'), function (data) {
                    $("#comments-pagination").after(data).remove();
                });
                return false;
            })

            $comment_reply = $(".comment-reply-field");
            $.each($comment_reply, function (index, value) {
                $(value).val($(value).attr("title"))
            })
            $comment_reply.live("focus",function () {
                $(this).siblings(".reply_comment_submit").show();
                if ($(this).val() == $(this).attr('title')) {
                    $(this).val("");
                }
            }).live("focusout", function () {
                        if (!$(this).val()) {
                            $(this).val($(this).attr("title")).siblings(".reply_comment_submit").hide()
                        }
                    })


            $(".reply_comment_form").live("submit", function () {
                var $reply_comment_form = $(this);
                $(this).ajaxSubmit(function (data) {
                    if (data.status == "OK") {
                        $reply_comment_form.parents(".parent-comment").find(".replies").append(data.comment_html)
                        var $textArea = $reply_comment_form.find(".comment-reply-field");
                        $textArea.val($textArea.attr("title"))
                    }

                });
                return false
            })

        })
    </script>
{% endblock %}