{% extends "base.html" %}
{% load static from staticfiles %}{% load assets %}{% load static_asset %}
{% block page_css %}
    {% assets "user_list_css" %}
        <link href="{% static_asset ASSET_URL %}" media="screen" rel="stylesheet" type="text/css">
    {% endassets %}
    <style type="text/css">
    a.back{
        float: left;
        position: absolute;
        margin-left: 10px;
        margin-top: 18px;
        color: #666;
    }

    h1 {
        font-size: 230%;
        font-weight: bold;
        margin-bottom: 12px;
        text-align: center;
    }

    h2{
        margin-bottom: 12px;
        text-align: center;
        font-size: 160%;
        font-family: georgia, serif;
        font-style: italic;
        font-weight: normal;
    }
    </style>
{% endblock %}

{% block content %}
    <a href="{% url group_detail group_id %}" class="back">← 回到圈子页面</a>
    <h1>{{ page_obj.paginator.count }}位成员</h1>
    <h2>快来认识些感兴趣的朋友吧！</h2>
    {% include "group/member_container.html"%}
{% endblock %}

{% block page_js %}
    {% assets "water_fall_js" %}
        <script type="text/javascript" src="{% static_asset ASSET_URL %}"></script>
    {% endassets %}
        {{ block.super }}
{% endblock %}

{% block active-nav-id %}nav-group{% endblock %}